compliance-poc.json
{
  "name": "compliance-poc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-compliance",
        "options": {}
      },
      "id": "617d0ed0-b75a-4fdb-b261-3481e613d1ce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1024,
        1176
      ],
      "webhookId": "dd082bf0-480f-4527-abc0-fe19fdfde3cc"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.query.complianceType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $json.query.fileType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $binary.data !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2eae7f72-7405-4044-baf6-76831b35e028",
      "name": "Validate Input (Query+File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -800,
        1176
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing required fields (check Query Params) or File."
            }
          ]
        },
        "options": {}
      },
      "id": "9e6fac7b-a779-4e71-a312-a7d6ab10971b",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -576,
        1272
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "process",
              "value": "Ready to extract text"
            },
            {
              "name": "compliance_type",
              "value": "={{ $json.query.complianceType }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d46642b1-0a4b-48a0-936c-b8f93ecfcc00",
      "name": "Validation Passed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -576,
        1080
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67f6c01d-9749-44a9-a9f7-e8677298515d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e41cb655-6b9e-4852-8444-f281cc460bd6",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Architecture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "415d57e6-4597-40e5-81d6-7f3800489f0b",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Governance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fd83beb-9070-49c8-9bb7-7e6c69a50e47",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Quality",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        1200
      ],
      "id": "ecdf201b-1d12-46eb-a7aa-6e3cd5836d9e",
      "name": "Switch  Compliance Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"criteriaTemplate\": \"Data Architecture\",\n\"evaluationCriteria\": {\n\"technicalDepth\": {\n\"weight\": 25,\n\"description\": \"Covers data models, schemas, integration patterns\"\n},\n\"scalability\": {\n\"weight\": 20,\n\"description\": \"Addresses future growth and performance\"\n},\n\"security\": {\n\"weight\": 20,\n\"description\": \"Data encryption, access controls, compliance\"\n},\n\"documentation\": {\n\"weight\": 15,\n\"description\": \"Clear diagrams, specifications, standards\"\n},\n\"feasibility\": {\n\"weight\": 20,\n\"description\": \"Realistic implementation plan and timeline\"\n}\n},\n\"passingScore\": 70,\n\"maxScore\": 100\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1248
      ],
      "id": "6d46740f-cc1e-411b-9929-4e43aadcd167",
      "name": "Edit Fields : Data Architecture Criteria"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pdf-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pptx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pptx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "docx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        840
      ],
      "id": "34458237-b030-4a1d-ab51-6ad388f01e7f",
      "name": "Switch by File Type"
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"{{ $('Set Binary Filename').first().json.tempPath }}/input.pptx\" --outdir {{ $('Set Binary Filename').first().json.tempPath }}",
        "options": {}
      },
      "id": "converted-pptx-local",
      "name": "Local Convert PPTX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -96,
        1408
      ]
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"{{ $('Set Binary Filename').first().json.tempPath }}/input.docx\" --outdir {{ $('Set Binary Filename').first().json.tempPath }}",
        "options": {}
      },
      "id": "converted-docx-local",
      "name": "Local Convert DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -96,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n_processing/{{ $binary.data.fileName }}",
        "options": {}
      },
      "id": "write-temp-file",
      "name": "Write Temp File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -352,
        1400
      ]
    },
    {
      "parameters": {
        "command": "=pdftoppm -png -r 300 \"{{ $('Set Binary Filename').first().json.tempPath }}/input.pdf\" \"{{ $('Set Binary Filename').first().json.tempPath }}/page\"",
        "options": {}
      },
      "id": "extract-images-local",
      "name": "Local Extract Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        1400
      ]
    },
    {
      "parameters": {
        "command": "=ls {{ $('Set Binary Filename').first().json.tempPath }}/page-*.png",
        "options": {}
      },
      "id": "list-images",
      "name": "List Generated Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all()[0].json.stdout.split('\\n').filter(f => f.trim() !== '');\n\nreturn files.map((filePath, index) => {\n  const fileName = filePath.split('/').pop();\n  return {\n    json: {\n      pageNumber: index + 1,\n      fileName: fileName,\n      filePath: filePath,\n      originalFile: $input.all()[0].json.originalFile\n    }\n  };\n});"
      },
      "id": "prepare-file-list",
      "name": "Prepare Generated File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1400
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "read-image-file",
      "name": "Read Page Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        832,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.data) {\n    const fileType = item.json.query?.fileType || 'bin';\n    const runId = Math.random().toString(36).substring(7);\n    const filePrefix = `${runId}_`;\n    const fileName = `${filePrefix}input.${fileType}`;\n    item.binary.data.fileName = fileName;\n    item.json.filePrefix = filePrefix;\n  }\n}\nreturn items;"
      },
      "id": "set-filename",
      "name": "Set Binary Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -550,
        1400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input (Query+File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input (Query+File)": {
      "main": [
        [
          {
            "node": "Validation Passed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed": {
      "main": [
        [
          {
            "node": "Switch  Compliance Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Binary Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch  Compliance Type": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields : Data Architecture Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by File Type": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert PPTX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Temp File": {
      "main": [
        [
          {
            "node": "Switch by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert PPTX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert DOCX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Extract Images": {
      "main": [
        [
          {
            "node": "List Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Generated Images": {
      "main": [
        [
          {
            "node": "Prepare Generated File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generated File List": {
      "main": [
        [
          {
            "node": "Read Page Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Binary Filename": {
      "main": [
        [
          {
            "node": "Write Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7192148-d28e-4dcf-b801-3684ea2bb19b",
  "meta": {
    "instanceId": "20ca36cf4b5fc64f7471c1e6a838151ab8163351fb5ba6c854a469e23e1d5d80"
  },
  "id": "uEjNH2OxAw_U3-G8MiYJp",
  "tags": []
}