compliance-poc.json
{
  "name": "compliance-poc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-compliance",
        "options": {}
      },
      "id": "d87757a6-0ec6-49ce-b3cf-5cbf28c76d93",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3872,
        3136
      ],
      "webhookId": "dd082bf0-480f-4527-abc0-fe19fdfde3cc"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.query.complianceType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $json.query.fileType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $binary.data !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "84bd14f0-942d-444f-b052-11482d765d41",
      "name": "Validate Input (Query+File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4096,
        3136
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing required fields (check Query Params) or File."
            }
          ]
        },
        "options": {}
      },
      "id": "02b1769b-e26b-4f90-8fd6-aca1b8239695",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4320,
        3232
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "process",
              "value": "Ready to extract text"
            },
            {
              "name": "compliance_type",
              "value": "={{ $json.query.complianceType }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6853d59b-6163-4708-9ebf-3fa83eb6c211",
      "name": "Validation Passed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4320,
        3040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67f6c01d-9749-44a9-a9f7-e8677298515d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e41cb655-6b9e-4852-8444-f281cc460bd6",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Architecture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "415d57e6-4597-40e5-81d6-7f3800489f0b",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Governance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fd83beb-9070-49c8-9bb7-7e6c69a50e47",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Quality",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4544,
        3168
      ],
      "id": "dd475d2e-1503-4243-814d-b96b846941a6",
      "name": "Switch  Compliance Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"criteriaTemplate\": \"Data Architecture\",\n\"evaluationCriteria\": {\n\"technicalDepth\": {\n\"weight\": 25,\n\"description\": \"Covers data models, schemas, integration patterns\"\n},\n\"scalability\": {\n\"weight\": 20,\n\"description\": \"Addresses future growth and performance\"\n},\n\"security\": {\n\"weight\": 20,\n\"description\": \"Data encryption, access controls, compliance\"\n},\n\"documentation\": {\n\"weight\": 15,\n\"description\": \"Clear diagrams, specifications, standards\"\n},\n\"feasibility\": {\n\"weight\": 20,\n\"description\": \"Realistic implementation plan and timeline\"\n}\n},\n\"passingScore\": 70,\n\"maxScore\": 100\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        3216
      ],
      "id": "c22e38d1-e7c0-40f1-8a1b-76db1a2bb339",
      "name": "Edit Fields : Data Architecture Criteria"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pdf-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pptx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pptx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "docx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4544,
        2800
      ],
      "id": "03414855-5b22-4618-9dba-48eb5121d363",
      "name": "Switch by File Type"
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.pptx\" --outdir /tmp/n8n_processing"
      },
      "id": "df7dc888-348a-494a-9803-d85abab3cb75",
      "name": "Local Convert PPTX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4800,
        3376
      ]
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.docx\" --outdir /tmp/n8n_processing"
      },
      "id": "23107ee1-bc0b-47c7-bb50-74e964d02409",
      "name": "Local Convert DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4800,
        3568
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n_processing/{{ $binary.data.fileName }}",
        "options": {}
      },
      "id": "1c81875b-955e-4bd6-9d9e-eba2a691570a",
      "name": "Write Temp File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4544,
        3360
      ]
    },
    {
      "parameters": {
        "command": "=pdftoppm -png -r 300 \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.pdf\" \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}page\""
      },
      "id": "94e98fa4-8e8d-47ce-a69a-fd878a11dc7f",
      "name": "Local Extract Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5056,
        3360
      ]
    },
    {
      "parameters": {
        "command": "=ls /tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}page-*.png"
      },
      "id": "3c3dc9b4-f23e-422f-9ddd-20ad67d33814",
      "name": "List Generated Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5280,
        3360
      ]
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all()[0].json.stdout.split('\\n').filter(f => f.trim() !== '');\n\nreturn files.map((filePath, index) => {\n  const fileName = filePath.split('/').pop();\n  return {\n    json: {\n      pageNumber: index + 1,\n      fileName: fileName,\n      filePath: filePath,\n      originalFile: $input.all()[0].json.originalFile\n    }\n  };\n});"
      },
      "id": "a86ac8e3-0c67-4763-b550-213d66b978fd",
      "name": "Prepare Generated File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        3360
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "7ebb267b-0cbf-4ec1-a149-30b144066819",
      "name": "Read Page Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5728,
        3360
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=tesseract \"{{ $('Prepare Generated File List').item.json.filePath }}\" stdout -l eng+ara --oem 3 --psm 3"
      },
      "id": "db1c6629-1d98-487c-9b8e-f1158ba8a5a5",
      "name": "OCR Processing",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5952,
        3360
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.stdout || '';\n  const wordCount = text.split(/\\s+/).length;\n  const hasContent = text.trim().length > 10;\n  \n  // Basic complexity heuristic: Low word count often means image/diagram or empty page\n  const complexityScore = (wordCount < 50) ? 0.8 : 0.2;\n\n  results.push({\n    json: {\n      ...item.json,\n      extractedText: text,\n      wordCount,\n      complexityScore,\n      isDiagram: complexityScore > 0.5\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ae70eb17-d14f-4a29-a96e-c4e306e37fb4",
      "name": "Parse OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        3360
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Sort by page number\nitems.sort((a, b) => a.json.pageNumber - b.json.pageNumber);\n\nconst fullText = items.map(i => `--- Page ${i.json.pageNumber} ---\\n${i.json.extractedText}`).join('\\n\\n');\nconst totalPages = items.length;\nconst filePrefix = items[0].json.filePrefix;\nconst complianceType = items[0].json.query?.complianceType || 'Unknown';\n\nconst diagramPages = items.filter(i => i.json.isDiagram).map(i => i.json.pageNumber);\n\nreturn [{\n  json: {\n    fullDocument: fullText,\n    totalPages,\n    totalWords: fullText.split(/\\s+/).length,\n    diagramPages,\n    filePrefix,\n    complianceType,\n    metadata: {\n        processedAt: new Date().toISOString(),\n        node: 'n8n-local-ocr'\n    }\n  }\n}];"
      },
      "id": "8795114b-2896-49e2-9676-7cea372ba394",
      "name": "Aggregate Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        3360
      ]
    },
    {
      "parameters": {
        "command": "=rm -f /tmp/n8n_processing/{{ $json.filePrefix }}*"
      },
      "id": "bfb2779b-ab4f-45db-a1e5-c9171aeb585b",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6624,
        3360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.data) {\n    const fileType = item.json.query?.fileType || 'bin';\n    const runId = Math.random().toString(36).substring(7);\n    const filePrefix = `${runId}_`;\n    const fileName = `${filePrefix}input.${fileType}`;\n    item.binary.data.fileName = fileName;\n    item.json.filePrefix = filePrefix;\n  }\n}\nreturn items;"
      },
      "id": "2074cf26-19b0-47d9-9fc7-8d213c92ac73",
      "name": "Set Binary Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        3360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input (Query+File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input (Query+File)": {
      "main": [
        [
          {
            "node": "Validation Passed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed": {
      "main": [
        [
          {
            "node": "Switch  Compliance Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Binary Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch  Compliance Type": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields : Data Architecture Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by File Type": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert PPTX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Temp File": {
      "main": [
        [
          {
            "node": "Switch by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert PPTX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert DOCX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Extract Images": {
      "main": [
        [
          {
            "node": "List Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Generated Images": {
      "main": [
        [
          {
            "node": "Prepare Generated File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generated File List": {
      "main": [
        [
          {
            "node": "Read Page Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Page Image": {
      "main": [
        [
          {
            "node": "OCR Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Processing": {
      "main": [
        [
          {
            "node": "Parse OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR": {
      "main": [
        [
          {
            "node": "Aggregate Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Document": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Binary Filename": {
      "main": [
        [
          {
            "node": "Write Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c36f861-c55d-4330-b8ac-254574fd82f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20ca36cf4b5fc64f7471c1e6a838151ab8163351fb5ba6c854a469e23e1d5d80"
  },
  "id": "uEjNH2OxAw_U3-G8MiYJp",
  "tags": []
}