compliance-poc.json
{
  "name": "compliance-poc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-compliance",
        "options": {
          "binaryData": true
        }
      },
      "id": "b4451240-75d0-4ce9-b6a2-4edcca17d885",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        96
      ],
      "webhookId": "dd082bf0-480f-4527-abc0-fe19fdfde3cc"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.query.complianceType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $json.query.fileType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $binary.data !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "993975bf-9855-48d7-9ba2-b93d8e154e10",
      "name": "Validate Input (Query+File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing required fields (check Query Params) or File."
            }
          ]
        },
        "options": {}
      },
      "id": "e39865c3-7c8a-48f3-89d7-ca9617f8e132",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        64,
        256
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "process",
              "value": "Ready to extract text"
            },
            {
              "name": "compliance_type",
              "value": "={{ $json.query.complianceType }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcfadeb4-5c6e-4422-bf0a-16d8adcf5cc0",
      "name": "Validation Passed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        64,
        -48
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67f6c01d-9749-44a9-a9f7-e8677298515d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e41cb655-6b9e-4852-8444-f281cc460bd6",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Architecture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "415d57e6-4597-40e5-81d6-7f3800489f0b",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Governance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fd83beb-9070-49c8-9bb7-7e6c69a50e47",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Quality",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        -48
      ],
      "id": "d48798b7-1921-49f1-bbf6-0ccde4829abc",
      "name": "Switch  Compliance Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"criteriaTemplate\": \"Data Architecture\",\n\"evaluationCriteria\": {\n\"technicalDepth\": {\n\"weight\": 25,\n\"description\": \"Covers data models, schemas, integration patterns\"\n},\n\"scalability\": {\n\"weight\": 20,\n\"description\": \"Addresses future growth and performance\"\n},\n\"security\": {\n\"weight\": 20,\n\"description\": \"Data encryption, access controls, compliance\"\n},\n\"documentation\": {\n\"weight\": 15,\n\"description\": \"Clear diagrams, specifications, standards\"\n},\n\"feasibility\": {\n\"weight\": 20,\n\"description\": \"Realistic implementation plan and timeline\"\n}\n},\n\"passingScore\": 70,\n\"maxScore\": 100\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        48
      ],
      "id": "be9037bd-6037-42ab-8d51-d57f298799ee",
      "name": "Edit Fields : Data Architecture Criteria"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "import sys\nimport os\n\nstatus = 'success'\nlibs = []\nerrors = []\n\ntry:\n    import pdfplumber\n    libs.append('pdfplumber')\nexcept Exception as e:\n    status = 'error'\n    errors.append('pdfplumber: ' + str(e))\n\ntry:\n    import pptx\n    libs.append('python-pptx')\nexcept Exception as e:\n    status = 'error'\n    errors.append('python-pptx: ' + str(e))\n\ntry:\n    import docx\n    libs.append('python-docx')\nexcept Exception as e:\n    status = 'error'\n    errors.append('python-docx: ' + str(e))\n\ntry:\n    import pytesseract\n    libs.append('pytesseract')\nexcept Exception as e:\n    status = 'error'\n    errors.append('pytesseract: ' + str(e))\n\nreturn {'status': status, 'libraries': libs, 'errors': errors}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        288
      ],
      "id": "5a8aa67d-b3f0-4844-afcc-656b86417f48",
      "name": "Code in Python"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input (Query+File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input (Query+File)": {
      "main": [
        [
          {
            "node": "Validation Passed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed": {
      "main": [
        [
          {
            "node": "Switch  Compliance Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch  Compliance Type": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields : Data Architecture Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce908663-51db-4f87-96c7-9cc5ebfcd194",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ecd3f86c2b6459906d142ba4c3d305b79d13621db1ebd818c7cc9f6d6733f56"
  },
  "id": "AddYFFiRnRy9UFLdlDomk",
  "tags": []
}