execution_5721_error.json
{
  "id": 5721,
  "workflowId": "nXd5WL1RvTWU329PUtvnO",
  "finished": false,
  "mode": "webhook",
  "startedAt": "2026-02-26 16:16:46.981000+00:00",
  "stoppedAt": "2026-02-26 16:16:47.035000+00:00",
  "waitTill": null,
  "status": "error",
  "retryOf": null,
  "retrySuccessId": null,
  "execution_data": "[{\"version\":1,\"startData\":\"1\",\"resultData\":\"2\",\"executionData\":\"3\"},{},{\"error\":\"4\",\"runData\":\"5\",\"lastNodeExecuted\":\"6\"},{\"contextData\":\"7\",\"nodeExecutionStack\":\"8\",\"metadata\":\"9\",\"waitingExecution\":\"10\",\"waitingExecutionSource\":\"11\",\"runtimeData\":\"12\"},{\"level\":\"13\",\"tags\":\"14\",\"description\":null,\"message\":\"15\",\"stack\":\"16\"},{\"Webhook: Submit Audit\":\"17\",\"Fetch Azure Blob\":\"18\",\"Parse & Validate Input\":\"19\",\"Create Audit Session\":\"20\",\"Prepare File Writes\":\"21\"},\"Prepare File Writes\",{},[\"22\",\"23\"],{},{},{},{\"version\":1,\"establishedAt\":1772122606990,\"source\":\"24\",\"triggerNode\":\"25\"},\"error\",{},\"Unknown error \",\"Error: Unknown error \\n    at throwExecutionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/throw-execution-error.ts:11:9)\\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:49:23)\\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:139:8)\\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1069:8)\\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1250:11)\\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1685:27\\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2328:11\",[\"26\"],[\"27\"],[\"28\"],[\"29\"],[\"30\"],{\"node\":\"31\",\"data\":\"32\",\"source\":\"33\"},{\"node\":\"34\",\"data\":\"35\",\"source\":\"36\"},\"webhook\",{\"name\":\"37\",\"type\":\"38\"},{\"startTime\":1772122606990,\"executionIndex\":0,\"source\":\"39\",\"hints\":\"40\",\"executionTime\":0,\"executionStatus\":\"41\",\"data\":\"42\"},{\"startTime\":1772122606990,\"executionIndex\":1,\"source\":\"43\",\"hints\":\"44\",\"executionTime\":9,\"executionStatus\":\"41\",\"data\":\"45\"},{\"startTime\":1772122606999,\"executionIndex\":2,\"source\":\"46\",\"hints\":\"47\",\"executionTime\":8,\"executionStatus\":\"41\",\"data\":\"48\"},{\"startTime\":1772122607007,\"executionIndex\":3,\"source\":\"49\",\"hints\":\"50\",\"executionTime\":18,\"executionStatus\":\"41\",\"data\":\"51\"},{\"startTime\":1772122607025,\"executionIndex\":4,\"source\":\"52\",\"hints\":\"53\",\"executionTime\":9,\"executionStatus\":\"13\",\"error\":\"54\"},{\"parameters\":\"55\",\"name\":\"6\",\"type\":\"56\",\"typeVersion\":2,\"position\":\"57\",\"id\":\"58\"},{\"main\":\"59\"},{\"main\":\"52\"},{\"parameters\":\"60\",\"id\":\"61\",\"name\":\"62\",\"type\":\"63\",\"typeVersion\":3.4,\"position\":\"64\"},{\"main\":\"65\"},{\"main\":\"66\"},\"Webhook: Submit Audit\",\"n8n-nodes-base.webhook\",[],[],\"success\",{\"main\":\"67\"},[\"68\"],[],{\"main\":\"69\"},[\"70\"],[],{\"main\":\"71\"},[\"72\"],[],{\"main\":\"73\"},[\"74\"],[],{\"level\":\"13\",\"tags\":\"14\",\"description\":null,\"message\":\"15\",\"stack\":\"16\"},{\"mode\":\"75\",\"language\":\"76\",\"jsCode\":\"77\",\"notice\":\"78\"},\"n8n-nodes-base.code\",[3232,-400],\"cf49abfe-6c7e-439b-a1a1-2c6dea265f61\",[\"79\"],{\"mode\":\"80\",\"duplicateItem\":false,\"jsonOutput\":\"81\",\"includeOtherFields\":false,\"options\":\"82\"},\"28477437-c3cf-40ad-a27d-24251fa13955\",\"Error Handler\",\"n8n-nodes-base.set\",[2800,-208],[\"83\"],[\"84\"],[\"83\"],{\"previousNode\":\"37\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"85\"],{\"previousNode\":\"86\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"87\"],{\"previousNode\":\"88\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"89\"],{\"previousNode\":\"90\",\"previousNodeOutput\":0,\"previousNodeRun\":0},\"runOnceForAllItems\",\"javaScript\",\"// Calculate hashes and prepare items for writing\\nconst crypto = require('crypto');\\nconst fs = require('fs');\\nconst path = require('path');\\n\\nconst sessionData = $input.first().json;\\nconst sessionId = sessionData.session_id;\\nconst domain = sessionData.domain;\\nconst questions = $('Parse & Validate Input').first().json.questions;\\nconst binaryData = $('Parse & Validate Input').first().binary;\\nconst binaryKeys = Object.keys(binaryData);\\n\\n// Create session directory\\nconst sessionDir = `/tmp/n8n_processing/${sessionId}`;\\nif (!fs.existsSync(sessionDir)) {\\n  fs.mkdirSync(sessionDir, { recursive: true });\\n}\\n\\nconsole.log(`Created session directory: ${sessionDir}`);\\n\\nconst items = [];\\n\\n// NOTE: getBinaryDataBuffer(itemIndex, propertyName) \u2014 itemIndex 0 because\\n// Parse & Validate Input is a single-item node (all files on firstItem).\\nfor (let ki = 0; ki < binaryKeys.length; ki++) {\\n  const fieldName = binaryKeys[ki];\\n  const fileData = binaryData[fieldName];\\n  if (!fileData) continue;\\n\\n  // Correct signature: getBinaryDataBuffer(itemIndex, binaryPropertyName)\\n  const buffer = await this.helpers.getBinaryDataBuffer(0, fieldName);\\n  const hash = crypto.createHash('sha256').update(buffer).digest('hex');\\n  const ext = path.extname(fileData.fileName) || '.bin';\\n  const diskFileName = `${hash}${ext}`;\\n  const filePath = path.join(sessionDir, diskFileName);\\n\\n  items.push({\\n    json: {\\n      sessionId,\\n      domain,\\n      fieldName,\\n      fileName: fileData.fileName,\\n      originalFileName: fileData.fileName,  // Preserve original - won't be overwritten\\n      mimeType: fileData.mimeType,\\n      fileSize: buffer.length,\\n      hash,\\n      filePath,\\n      questions\\n    },\\n    binary: {\\n      data: fileData\\n    }\\n  });\\n}\\n\\nreturn items;\",\"\",[\"91\"],\"raw\",\"={{ { \\\"error\\\": $json.error?.message || \\\"Internal server error\\\", \\\"status\\\": 500 } }}\",{},[\"92\"],{\"previousNode\":\"37\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"93\"],\"Fetch Azure Blob\",[\"94\"],\"Parse & Validate Input\",[\"95\"],\"Create Audit Session\",{\"json\":\"96\",\"pairedItem\":\"97\"},{\"json\":\"98\",\"binary\":\"99\",\"pairedItem\":\"100\"},{\"json\":\"101\",\"binary\":\"102\",\"pairedItem\":\"103\"},{\"json\":\"104\",\"binary\":\"105\",\"pairedItem\":\"106\"},{\"json\":\"96\",\"pairedItem\":\"107\"},{\"session_id\":\"108\",\"domain_id\":\"109\",\"total_questions\":1},{\"item\":0},{\"headers\":\"110\",\"params\":\"111\",\"query\":\"112\",\"body\":\"113\",\"webhookUrl\":\"114\",\"executionMode\":\"115\"},{\"null0\":\"116\",\"null1\":\"117\"},{\"item\":0},{\"headers\":\"118\",\"params\":\"119\",\"query\":\"120\",\"body\":\"121\",\"webhookUrl\":\"114\",\"executionMode\":\"115\"},{\"null0\":\"122\",\"null1\":\"123\"},{\"item\":0},{\"questions\":\"124\",\"domain\":\"109\",\"files\":\"125\",\"totalSizeMB\":null,\"totalFiles\":2},{\"null0\":\"126\",\"null1\":\"127\"},{\"item\":0},{\"item\":0},\"2a5b2a27-3fc1-420e-a3ba-115d234817e5\",\"6ec7535e-6134-4010-9817-8c0849e8f59b\",{\"content-type\":\"128\",\"content-length\":\"129\",\"user-agent\":\"130\",\"accept\":\"131\",\"x-api-key\":\"132\",\"accept-encoding\":\"133\",\"host\":\"134\"},{},{},{\"questions\":\"135\",\"domain\":\"109\"},\"http://172.206.67.83:5678/webhook/audit/submit\",\"production\",{\"mimeType\":\"136\",\"fileExtension\":\"137\",\"data\":\"138\",\"fileName\":\"139\",\"id\":\"140\",\"fileSize\":\"141\",\"bytes\":6114228},{\"mimeType\":\"142\",\"fileExtension\":\"143\",\"data\":\"138\",\"fileName\":\"144\",\"id\":\"145\",\"fileSize\":\"146\",\"bytes\":871015},{\"content-type\":\"128\",\"content-length\":\"129\",\"user-agent\":\"130\",\"accept\":\"131\",\"x-api-key\":\"132\",\"accept-encoding\":\"133\",\"host\":\"134\"},{},{},{\"questions\":\"135\",\"domain\":\"109\"},{\"mimeType\":\"136\",\"fileExtension\":\"137\",\"data\":\"138\",\"fileName\":\"139\",\"id\":\"140\",\"fileSize\":\"141\",\"bytes\":6114228},{\"mimeType\":\"142\",\"fileExtension\":\"143\",\"data\":\"138\",\"fileName\":\"144\",\"id\":\"145\",\"fileSize\":\"146\",\"bytes\":871015},[\"147\"],[\"148\",\"149\"],{\"mimeType\":\"136\",\"fileExtension\":\"137\",\"data\":\"138\",\"fileName\":\"139\",\"id\":\"140\",\"fileSize\":\"141\",\"bytes\":6114228},{\"mimeType\":\"142\",\"fileExtension\":\"143\",\"data\":\"138\",\"fileName\":\"144\",\"id\":\"145\",\"fileSize\":\"146\",\"bytes\":871015},\"multipart/form-data; boundary=d3deb96c958705fd-d2f43ef02f5307ed-16732ea3ca8e4ab0-87013eed1c6f1fe0\",\"6986485\",\"yaak\",\"*/*\",\"6e8ead397c8423eb63e96f7ecb421b6e591cdfec6311ab345aacb69a901b7a7f\",\"gzip, br, deflate\",\"172.206.67.83:5678\",\"[\\n    {\\\"question_id\\\":\\\"1daa7d40-a975-4026-b6a9-818b34c2f3c0\\\",\\\"files\\\":[\\\"NPC_DGO_QDKC_General_Initiative Card Template_V2.pptx\\\",\\\"NPC_DGO_QDKC_General_Data Management Domain Plan Template_V2.xlsx\\\"]}\\n  ]\",\"application/vnd.openxmlformats-officedocument.presentationml.presentation\",\"pptx\",\"filesystem-v2\",\"NPC_DGO_QDKC_General_Initiative Card Template_V2.pptx\",\"filesystem-v2:workflows/nXd5WL1RvTWU329PUtvnO/executions/temp/binary_data/5f77be31-8554-49c9-8e48-46263d7f113c\",\"6.11 MB\",\"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\"xlsx\",\"NPC_DGO_QDKC_General_Data Management Domain Plan Template_V2.xlsx\",\"filesystem-v2:workflows/nXd5WL1RvTWU329PUtvnO/executions/temp/binary_data/7257c908-1598-4b9f-bf0c-7192faef02e5\",\"871 kB\",{\"question_id\":\"150\",\"files\":\"151\"},{\"fieldName\":\"152\",\"fileName\":\"139\",\"fileSize\":\"141\",\"mimeType\":\"136\"},{\"fieldName\":\"153\",\"fileName\":\"144\",\"fileSize\":\"146\",\"mimeType\":\"142\"},\"1daa7d40-a975-4026-b6a9-818b34c2f3c0\",[\"152\",\"153\"],\"null0\",\"null1\"]",
  "workflowData": {
    "id": "nXd5WL1RvTWU329PUtvnO",
    "name": "Workflow C1: Audit Entry (Job Submission)",
    "active": true,
    "activeVersionId": "914768be-0c81-4ca3-987a-238d437b9ea2",
    "isArchived": false,
    "createdAt": "2026-02-21T13:36:39.796Z",
    "updatedAt": "2026-02-26T16:15:47.706Z",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "audit/submit",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "webhookNotice": "",
          "options": {}
        },
        "id": "d7c243d8-b4da-48b3-9244-9e6c63fb3d90",
        "name": "Webhook: Submit Audit",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          2560,
          -400
        ],
        "webhookId": "audit-submit-webhook",
        "credentials": {
          "httpHeaderAuth": {
            "id": "rLge41cF6Tn8aUPg",
            "name": "webhook-api-key"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Parse multipart form data and extract files + questions mapping\nconst crypto = require('crypto');\nconst items = $input.all();\nconst firstItem = items[0];\n\n// Get questions JSON from form data (try multiple locations)\nlet questionsRaw = firstItem.json?.questions || firstItem.json?.body?.questions || firstItem.json?.query?.questions;\n\n// Debug logging\nconsole.log('First item keys:', Object.keys(firstItem.json || {}));\nconsole.log('Questions raw value:', questionsRaw);\nif (firstItem.binary) {\n  console.log('Binary field keys:', Object.keys(firstItem.binary));\n}\n\nif (!questionsRaw) {\n  throw new Error('Missing \"questions\" parameter. Expected JSON array: [{\"question_id\":\"q1\",\"files\":[\"file1.pdf\"]}]. Received structure: ' + JSON.stringify(Object.keys(firstItem.json || {})));\n}\n\nlet questions;\ntry {\n  // Sanitize: strip control characters (newlines, carriage returns, tabs) that\n  // can sneak in from multi-line curl commands or copy-paste issues\n  if (typeof questionsRaw === 'string') {\n    questionsRaw = questionsRaw.replace(/[\\x00-\\x1F\\x7F]/g, ' ').trim();\n  }\n  questions = typeof questionsRaw === 'string' ? JSON.parse(questionsRaw) : questionsRaw;\n} catch (e) {\n  throw new Error('Invalid questions JSON format: ' + e.message);\n}\n\nif (!questions || !Array.isArray(questions) || questions.length === 0) {\n  throw new Error('Questions must be non-empty array. Got: ' + typeof questions);\n}\n\n// Extract domain (optional, can be inferred from questions)\nconst domain = firstItem.json?.domain || firstItem.json?.body?.domain || firstItem.json?.query?.domain || 'General';\n\n// Calculate file stats using binary metadata + getBinaryDataBuffer as fallback\n// getBinaryDataBuffer(itemIndex, propertyName) \u2014 correct signature for n8n 2.6+\nlet totalSize = 0;\nconst fileMetadata = [];\n\nif (firstItem.binary) {\n  for (const [fieldName, binaryData] of Object.entries(firstItem.binary)) {\n    if (!binaryData) continue;\n\n    let fileSize;\n    if (binaryData.fileSize != null) {\n      fileSize = binaryData.fileSize;\n    } else {\n      const buf = await this.helpers.getBinaryDataBuffer(0, fieldName);\n      fileSize = buf.length;\n    }\n\n    totalSize += fileSize;\n    fileMetadata.push({\n      fieldName,\n      fileName: binaryData.fileName || fieldName,\n      fileSize,\n      mimeType: binaryData.mimeType || 'application/octet-stream'\n    });\n  }\n}\n\n// Debug: log binary field names so mismatches are easy to diagnose\nconsole.log('Binary fields available:', JSON.stringify(fileMetadata.map(f => ({ fieldName: f.fieldName, fileName: f.fileName }))));\n\n// Enforce 500MB total limit for large file support\nif (totalSize > 500 * 1024 * 1024) {\n  throw new Error(`Total file size exceeds 500MB limit (current: ${Math.round(totalSize/1024/1024)}MB)`);\n}\n\n// Helper: find uploaded file by matching fieldName OR fileName (flexible match)\n// Handles n8n field-name sanitization (spaces vs underscores, etc.)\nfunction findUploadedFile(name) {\n  const norm = (s) => s.replace(/[_ ]/g, ' ').trim().toLowerCase();\n  return fileMetadata.find(f =>\n    f.fieldName === name || f.fileName === name ||\n    norm(f.fieldName) === norm(name) || norm(f.fileName) === norm(name)\n  );\n}\n\n// Validate: each question references valid uploaded files\nfor (const q of questions) {\n  if (!q.question_id) {\n    throw new Error('Each question must have a \"question_id\" field');\n  }\n  if (!q.files || !Array.isArray(q.files) || q.files.length === 0) {\n    throw new Error(`Question ${q.question_id} has no files specified`);\n  }\n\n  // Remap files array to use the actual binary fieldName for downstream nodes\n  q.files = q.files.map(fileName => {\n    const found = findUploadedFile(fileName);\n    if (!found) {\n      const available = fileMetadata.map(f => f.fieldName + ' (file: ' + f.fileName + ')').join(', ');\n      throw new Error(`Question ${q.question_id} references file \"${fileName}\" which was not uploaded. Available: [${available}]`);\n    }\n    return found.fieldName;\n  });\n}\n\n// Update JSON content but preserve original binary attachment\nfirstItem.json = {\n  questions,\n  domain,\n  files: fileMetadata,\n  totalSizeMB: Math.round(totalSize / 1024 / 1024 * 100) / 100,\n  totalFiles: fileMetadata.length\n};\n\nreturn [firstItem];",
          "notice": ""
        },
        "id": "01b3b2fb-14e5-4155-a89e-6c059ac50a4f",
        "name": "Parse & Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2784,
          -400
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO audit_sessions (session_id, domain_id, initiated_by, status, started_at, total_questions, answered_questions, overall_compliance_score)\nVALUES (gen_random_uuid(), '{{ $json.domain.replace(/'/g, \"''\") }}', 'api_user', 'queued', NOW(), {{ $json.questions.length }}, 0, 0)\nRETURNING session_id, domain_id, total_questions;",
          "options": {}
        },
        "id": "ea2c93c9-8f34-4293-a039-db99b02211a1",
        "name": "Create Audit Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3008,
          -400
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Calculate hashes and prepare items for writing\nconst crypto = require('crypto');\nconst fs = require('fs');\nconst path = require('path');\n\nconst sessionData = $input.first().json;\nconst sessionId = sessionData.session_id;\nconst domain = sessionData.domain;\nconst questions = $('Parse & Validate Input').first().json.questions;\nconst binaryData = $('Parse & Validate Input').first().binary;\nconst binaryKeys = Object.keys(binaryData);\n\n// Create session directory\nconst sessionDir = `/tmp/n8n_processing/${sessionId}`;\nif (!fs.existsSync(sessionDir)) {\n  fs.mkdirSync(sessionDir, { recursive: true });\n}\n\nconsole.log(`Created session directory: ${sessionDir}`);\n\nconst items = [];\n\n// NOTE: getBinaryDataBuffer(itemIndex, propertyName) \u2014 itemIndex 0 because\n// Parse & Validate Input is a single-item node (all files on firstItem).\nfor (let ki = 0; ki < binaryKeys.length; ki++) {\n  const fieldName = binaryKeys[ki];\n  const fileData = binaryData[fieldName];\n  if (!fileData) continue;\n\n  // Correct signature: getBinaryDataBuffer(itemIndex, binaryPropertyName)\n  const buffer = await this.helpers.getBinaryDataBuffer(0, fieldName);\n  const hash = crypto.createHash('sha256').update(buffer).digest('hex');\n  const ext = path.extname(fileData.fileName) || '.bin';\n  const diskFileName = `${hash}${ext}`;\n  const filePath = path.join(sessionDir, diskFileName);\n\n  items.push({\n    json: {\n      sessionId,\n      domain,\n      fieldName,\n      fileName: fileData.fileName,\n      originalFileName: fileData.fileName,  // Preserve original - won't be overwritten\n      mimeType: fileData.mimeType,\n      fileSize: buffer.length,\n      hash,\n      filePath,\n      questions\n    },\n    binary: {\n      data: fileData\n    }\n  });\n}\n\nreturn items;",
          "notice": ""
        },
        "name": "Prepare File Writes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3232,
          -400
        ],
        "id": "cf49abfe-6c7e-439b-a1a1-2c6dea265f61"
      },
      {
        "parameters": {
          "info": "",
          "operation": "write",
          "fileName": "={{ $json.filePath }}",
          "dataPropertyName": "data",
          "options": {}
        },
        "name": "Write Binary File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          3440,
          -400
        ],
        "id": "eda5c919-0a63-4577-b7c7-25568b4a5f97"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Reconstruct fileMap and question structure\nconst items = $input.all();\nconst firstItem = items[0].json;\nconst sessionId = firstItem.sessionId;\nconst domain = firstItem.domain;\nconst questions = firstItem.questions;\n\nconst fileMap = {};\n\nfor (const item of items) {\n  const row = item.json;\n  // Use originalFileName which wasn't overwritten by Write Binary File node\n  const originalName = row.originalFileName || row.fileName;\n  \n  fileMap[row.fieldName] = {\n    hash: row.hash,\n    fileName: originalName,  // Original filename from API\n    fileSize: row.fileSize,\n    mimeType: row.mimeType,\n    fieldName: row.fieldName,\n    filePath: row.filePath  // Temp disk path\n  };\n}\n\n// Map questions to hashes\nconst questionsWithHashes = questions.map(q => ({\n  question_id: q.question_id,\n  evidence_files: q.files.map(fileName => {\n    const fileInfo = fileMap[fileName];\n    return {\n      hash: fileInfo.hash,\n      originalName: fileInfo.fileName,  // Use original filename\n      fieldName: fileName\n    };\n  })\n}));\n\nreturn [{\n  json: {\n    sessionId,\n    domain,\n    questions: questionsWithHashes,\n    fileMap,\n    totalFiles: Object.keys(fileMap).length\n  }\n}];",
          "notice": ""
        },
        "name": "Aggregate Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3664,
          -400
        ],
        "id": "a40b9894-d065-47db-a451-fda8f367c54a"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO audit_logs (session_id, question_id, step_name, status, message, percentage, created_at)\nVALUES ('{{ $json.sessionId }}', NULL, 'queued', 'in_progress', '{{ \"Job queued: \" + $json.questions.length + \" questions, \" + $json.totalFiles + \" files\" }}', 0, NOW());",
          "options": {}
        },
        "id": "5dedd47a-59cc-47c6-81fb-e8491072f49d",
        "name": "Log: Job Queued",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3888,
          -400
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Create Redis job payload\nconst crypto = require('crypto');\n\n// Get data from Aggregate Files node\nconst data = $('Aggregate Files').first().json;\n\n// Debug: log what we received\nconsole.log('Build Redis Job - received data keys:', Object.keys(data));\nconsole.log('Build Redis Job - questions value:', data.questions);\n\nif (!data.questions || !Array.isArray(data.questions)) {\n  throw new Error('Invalid data received: questions is ' + typeof data.questions + '. Full data keys: ' + Object.keys(data).join(', '));\n}\n\nconst jobId = crypto.randomUUID();\n\nconst job = {\n  jobId: jobId,\n  sessionId: data.sessionId,\n  domain: data.domain,\n  questions: data.questions,\n  fileMap: data.fileMap,\n  sessionDir: `/tmp/n8n_processing/${data.sessionId}`,\n  status: 'queued',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    jobData: JSON.stringify(job),\n    jobId: jobId,\n    sessionId: data.sessionId,\n    totalQuestions: data.questions.length\n  }\n}];",
          "notice": ""
        },
        "id": "cb08b6b0-6f2c-4785-bdf2-e9bb49af7034",
        "name": "Build Redis Job Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4112,
          -400
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "audit_job_queue",
          "messageData": "={{ $json.jobData }}",
          "tail": false
        },
        "id": "5c282171-c2af-4bf4-989d-1a77070befa4",
        "name": "Enqueue Job to Redis",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          4336,
          -400
        ],
        "credentials": {
          "redis": {
            "id": "3yKsgGvyPO34pEou",
            "name": "redis-compliance"
          }
        }
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "UPDATE audit_sessions SET job_id = '{{ $json.jobId }}' WHERE session_id = '{{ $json.sessionId }}';",
          "options": {}
        },
        "id": "6a6c4b85-b46c-4faa-9bb2-931fc099c4b1",
        "name": "Update Session Job ID",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4560,
          -400
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "duplicateItem": false,
          "jsonOutput": "={{ {\n  \"sessionId\": $('Build Redis Job Payload').first().json.sessionId,\n  \"jobId\": $('Build Redis Job Payload').first().json.jobId,\n  \"status\": \"queued\",\n  \"totalQuestions\": $('Build Redis Job Payload').first().json.totalQuestions,\n  \"message\": \"Audit submitted successfully. Poll /webhook/audit-status-webhook/audit/status/\" + $('Build Redis Job Payload').first().json.sessionId + \" for progress.\",\n  \"estimatedCompletionMinutes\": Math.ceil($('Build Redis Job Payload').first().json.totalQuestions * 2.5)\n} }}",
          "includeOtherFields": false,
          "options": {}
        },
        "id": "d68f6a85-0618-4083-b869-8b1253106150",
        "name": "Build Success Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4784,
          -400
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 202
          }
        },
        "id": "aa4a25fb-15b1-4226-8605-94cad17d8052",
        "name": "Respond: Accepted",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          4992,
          -400
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "duplicateItem": false,
          "jsonOutput": "={{ { \"error\": $json.error?.message || \"Internal server error\", \"status\": 500 } }}",
          "includeOtherFields": false,
          "options": {}
        },
        "id": "28477437-c3cf-40ad-a27d-24251fa13955",
        "name": "Error Handler",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2800,
          -208
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ $json.status || 500 }}"
          }
        },
        "id": "cc84139d-2fea-4e20-9665-c3fd753af2e4",
        "name": "Respond: Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          3088,
          -112
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\n// Parse credentials from connection string (mirrors blobstorage.js approach)\nconst connectionString = $env.AZURE_STORAGE_CONNECTION_STRING || $env.AZURE_BLOB_CONNECTION_STRING;\nlet accountName, accountKey;\nif (connectionString) {\n  accountName = connectionString.match(/AccountName=([^;]+)/)?.[1];\n  accountKey  = connectionString.match(/AccountKey=([^;]+)/)?.[1];\n}\n// Fallback to individual env vars if connection string not set\nif (!accountName) accountName = $env.AZURE_STORAGE_ACCOUNT_NAME || 'unificdmpblob';\nif (!accountKey)  accountKey  = $env.AZURE_STORAGE_ACCOUNT_KEY;\n\nif (!accountKey) {\n  throw new Error(\n    'Azure credentials not found. Set AZURE_STORAGE_CONNECTION_STRING ' +\n    '(e.g. \"DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net\") ' +\n    'in the n8n container environment.'\n  );\n}\n\nfunction httpsGet(url) {\n  return new Promise((resolve, reject) => {\n    https.get(url, (res) => {\n      const chunks = [];\n      res.on('data', chunk => chunks.push(chunk));\n      res.on('end', () => resolve({\n        buffer: Buffer.concat(chunks),\n        statusCode: res.statusCode,\n        contentType: res.headers['content-type'] || 'application/octet-stream'\n      }));\n      res.on('error', reject);\n    }).on('error', reject);\n  });\n}\n\nfunction generateSasUrl(container, blobPath, sr = 'b', permissions = 'r') {\n  const now = new Date();\n  const expiry = new Date(now.getTime() + 3600000); // 1 hour\n  const sv = '2020-12-06';\n  const fmt = (d) => d.toISOString().replace(/\\.\\d{3}Z$/, 'Z');\n  const st = fmt(now);\n  const se = fmt(expiry);\n  const canonicalizedResource = `/blob/${accountName}/${container}/${blobPath}`;\n  // sv=2020-12-06: 16 fields, 15 \\n, NO trailing newline (signedEncryptionScope added)\n  const stringToSign = [permissions, st, se, canonicalizedResource, '', '', 'https', sv, sr, '', '', '', '', '', '', ''].join('\\n');\n  const key = Buffer.from(accountKey, 'base64');\n  const sig = crypto.createHmac('sha256', key).update(Buffer.from(stringToSign, 'utf8')).digest('base64');\n  // Build query string manually \u2014 URLSearchParams is not available in the n8n task runner VM sandbox\n  const qs = 'sv='  + encodeURIComponent(sv)\n           + '&sr=b'\n           + '&sp=r'\n           + '&st='  + encodeURIComponent(st)\n           + '&se='  + encodeURIComponent(se)\n           + '&spr=https'\n           + '&sig=' + encodeURIComponent(sig);\n  return `https://${accountName}.blob.core.windows.net/${container}/${blobPath}?${qs}`;\n}\n\nasync function fetchBlob(container, blobPath) {\n  const sasUrl = generateSasUrl(container, blobPath);\n  const { buffer, statusCode, contentType } = await httpsGet(sasUrl);\n  if (statusCode !== 200) {\n    throw new Error(`Azure Blob download failed HTTP ${statusCode} for ${container}/${blobPath}. Body: ${buffer.toString().substring(0, 300)}`);\n  }\n  return { buffer, contentType };\n}\n\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  // Pass through if binary already present (direct file upload path)\n  if (item.binary && Object.keys(item.binary).length > 0) {\n    result.push(item);\n    continue;\n  }\n\n  // Normalize: test webhook wraps body under item.json.body; production uses item.json directly\n  const bodyData  = item.json.body || item.json;\n  const blobPath  = bodyData.blobPath;\n  const blobFiles = bodyData.blobFiles;\n\n  if (!blobPath && !blobFiles) {\n    result.push(item);\n    continue;\n  }\n\n  if (!item.binary) item.binary = {};\n\n  if (blobPath) {\n    // Single-file mode: { \"blobPath\": \"folder/file.pdf\", \"azureContainer\": \"compliance\" }\n    const container = bodyData.azureContainer || 'compliance';\n    const { buffer, contentType } = await fetchBlob(container, blobPath);\n    const fileName = blobPath.split('/').pop();\n    item.binary.data = await this.helpers.prepareBinaryData(buffer, fileName, contentType);\n    item.json.azureBlobFetched = true;\n    item.json.originalFileName = fileName;\n  }\n\n  if (blobFiles) {\n    // Multi-file mode: { \"file0\": \"path.pdf\" } or { \"file0\": { \"blobPath\": \"...\", \"container\": \"...\" } }\n    for (const [fieldName, blobInfo] of Object.entries(blobFiles)) {\n      const bp = typeof blobInfo === 'string' ? blobInfo : blobInfo.blobPath;\n      const container = (typeof blobInfo === 'object' && blobInfo.container)\n        ? blobInfo.container\n        : (item.json.azureContainer || 'compliance');\n      const { buffer, contentType } = await fetchBlob(container, bp);\n      const fileName = bp.split('/').pop();\n      item.binary[fieldName] = await this.helpers.prepareBinaryData(buffer, fileName, contentType);\n    }\n    item.json.azureBlobFetched = true;\n  }\n\n  result.push(item);\n}\n\nreturn result;",
          "notice": ""
        },
        "id": "c7985ab3-5769-4155-889e-51299df5611a",
        "name": "Fetch Azure Blob",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          -400
        ]
      }
    ],
    "connections": {
      "Webhook: Submit Audit": {
        "main": [
          [
            {
              "node": "Fetch Azure Blob",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Validate Input": {
        "main": [
          [
            {
              "node": "Create Audit Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Audit Session": {
        "main": [
          [
            {
              "node": "Prepare File Writes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Writes": {
        "main": [
          [
            {
              "node": "Write Binary File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Binary File": {
        "main": [
          [
            {
              "node": "Aggregate Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Files": {
        "main": [
          [
            {
              "node": "Log: Job Queued",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log: Job Queued": {
        "main": [
          [
            {
              "node": "Build Redis Job Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Redis Job Payload": {
        "main": [
          [
            {
              "node": "Enqueue Job to Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enqueue Job to Redis": {
        "main": [
          [
            {
              "node": "Update Session Job ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Session Job ID": {
        "main": [
          [
            {
              "node": "Build Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Response": {
        "main": [
          [
            {
              "node": "Respond: Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Handler": {
        "main": [
          [
            {
              "node": "Respond: Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Azure Blob": {
        "main": [
          [
            {
              "node": "Parse & Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": {},
    "pinData": {}
  },
  "workflow_name": "Workflow C1: Audit Entry (Job Submission)",
  "workflow_active": true
}