execution_c1_4986.json
{
  "id": 4986,
  "workflowId": "nXd5WL1RvTWU329PUtvnO",
  "finished": true,
  "mode": "webhook",
  "startedAt": "2026-02-26 12:42:46.939000+00:00",
  "stoppedAt": "2026-02-26 12:42:47.488000+00:00",
  "waitTill": null,
  "status": "success",
  "retryOf": null,
  "retrySuccessId": null,
  "execution_data": "[{\"version\":1,\"startData\":\"1\",\"resultData\":\"2\",\"executionData\":\"3\"},{},{\"runData\":\"4\",\"lastNodeExecuted\":\"5\"},{\"contextData\":\"6\",\"nodeExecutionStack\":\"7\",\"metadata\":\"8\",\"waitingExecution\":\"9\",\"waitingExecutionSource\":\"10\",\"runtimeData\":\"11\"},{\"Webhook: Submit Audit\":\"12\",\"Fetch Azure Blob\":\"13\",\"Parse & Validate Input\":\"14\",\"Create Audit Session\":\"15\",\"Prepare File Writes\":\"16\",\"Write Binary File\":\"17\",\"Aggregate Files\":\"18\",\"Log: Job Queued\":\"19\",\"Build Redis Job Payload\":\"20\",\"Enqueue Job to Redis\":\"21\",\"Update Session Job ID\":\"22\",\"Build Success Response\":\"23\",\"Respond: Accepted\":\"24\",\"Error Handler\":\"25\",\"Respond: Error\":\"26\"},\"Respond: Error\",{},[],{},{},{},{\"version\":1,\"establishedAt\":1772109766950,\"source\":\"27\",\"triggerNode\":\"28\"},[\"29\"],[\"30\"],[\"31\"],[\"32\"],[\"33\"],[\"34\"],[\"35\"],[\"36\"],[\"37\"],[\"38\"],[\"39\"],[\"40\"],[\"41\"],[\"42\"],[\"43\"],\"webhook\",{\"name\":\"44\",\"type\":\"45\"},{\"startTime\":1772109766950,\"executionIndex\":0,\"source\":\"46\",\"hints\":\"47\",\"executionTime\":0,\"executionStatus\":\"48\",\"data\":\"49\"},{\"startTime\":1772109766950,\"executionIndex\":1,\"source\":\"50\",\"hints\":\"51\",\"executionTime\":17,\"executionStatus\":\"48\",\"data\":\"52\"},{\"startTime\":1772109766967,\"executionIndex\":2,\"source\":\"53\",\"hints\":\"54\",\"executionTime\":446,\"executionStatus\":\"48\",\"data\":\"55\"},{\"startTime\":1772109767413,\"executionIndex\":3,\"source\":\"56\",\"hints\":\"57\",\"executionTime\":10,\"executionStatus\":\"48\",\"data\":\"58\"},{\"startTime\":1772109767423,\"executionIndex\":4,\"source\":\"59\",\"hints\":\"60\",\"executionTime\":7,\"executionStatus\":\"48\",\"data\":\"61\"},{\"startTime\":1772109767430,\"executionIndex\":5,\"source\":\"62\",\"hints\":\"63\",\"executionTime\":15,\"executionStatus\":\"48\",\"data\":\"64\"},{\"startTime\":1772109767445,\"executionIndex\":6,\"source\":\"65\",\"hints\":\"66\",\"executionTime\":5,\"executionStatus\":\"48\",\"data\":\"67\"},{\"startTime\":1772109767450,\"executionIndex\":7,\"source\":\"68\",\"hints\":\"69\",\"executionTime\":18,\"executionStatus\":\"48\",\"data\":\"70\"},{\"startTime\":1772109767469,\"executionIndex\":8,\"source\":\"71\",\"hints\":\"72\",\"executionTime\":6,\"executionStatus\":\"48\",\"data\":\"73\"},{\"startTime\":1772109767475,\"executionIndex\":9,\"source\":\"74\",\"hints\":\"75\",\"executionTime\":4,\"executionStatus\":\"48\",\"data\":\"76\"},{\"startTime\":1772109767479,\"executionIndex\":10,\"source\":\"77\",\"hints\":\"78\",\"executionTime\":7,\"executionStatus\":\"48\",\"data\":\"79\"},{\"startTime\":1772109767486,\"executionIndex\":11,\"source\":\"80\",\"hints\":\"81\",\"executionTime\":0,\"executionStatus\":\"48\",\"data\":\"82\"},{\"startTime\":1772109767487,\"executionIndex\":12,\"source\":\"83\",\"hints\":\"84\",\"executionTime\":0,\"executionStatus\":\"48\",\"data\":\"85\"},{\"startTime\":1772109767487,\"executionIndex\":13,\"source\":\"86\",\"hints\":\"87\",\"executionTime\":1,\"executionStatus\":\"48\",\"data\":\"88\"},{\"startTime\":1772109767488,\"executionIndex\":14,\"source\":\"89\",\"hints\":\"90\",\"executionTime\":0,\"executionStatus\":\"48\",\"data\":\"91\"},\"Webhook: Submit Audit\",\"n8n-nodes-base.webhook\",[],[],\"success\",{\"main\":\"92\"},[\"93\"],[],{\"main\":\"94\"},[\"95\"],[],{\"main\":\"96\"},[\"97\"],[],{\"main\":\"98\"},[\"99\"],[],{\"main\":\"100\"},[\"101\"],[],{\"main\":\"102\"},[\"103\"],[],{\"main\":\"104\"},[\"105\"],[],{\"main\":\"106\"},[\"107\"],[],{\"main\":\"108\"},[\"109\"],[],{\"main\":\"110\"},[\"111\"],[],{\"main\":\"112\"},[\"113\"],[],{\"main\":\"114\"},[\"115\"],[],{\"main\":\"116\"},[\"117\"],[],{\"main\":\"118\"},[\"119\"],[],{\"main\":\"120\"},[\"121\"],{\"previousNode\":\"44\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"122\"],{\"previousNode\":\"123\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"124\"],{\"previousNode\":\"125\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"126\"],{\"previousNode\":\"127\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"128\"],{\"previousNode\":\"129\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"130\"],{\"previousNode\":\"131\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"132\"],{\"previousNode\":\"133\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"134\"],{\"previousNode\":\"135\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"136\"],{\"previousNode\":\"137\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"138\"],{\"previousNode\":\"139\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"140\"],{\"previousNode\":\"141\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"142\"],{\"previousNode\":\"143\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"144\"],{\"previousNode\":\"44\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"145\"],{\"previousNode\":\"146\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"147\"],[\"148\"],[\"149\"],\"Fetch Azure Blob\",[\"150\"],\"Parse & Validate Input\",[\"151\"],\"Create Audit Session\",[\"152\",\"153\"],\"Prepare File Writes\",[\"154\",\"155\"],\"Write Binary File\",[\"156\"],\"Aggregate Files\",[\"157\"],\"Log: Job Queued\",[\"158\"],\"Build Redis Job Payload\",[\"159\"],\"Enqueue Job to Redis\",[\"160\"],\"Update Session Job ID\",[\"161\"],\"Build Success Response\",[\"162\"],[\"163\"],\"Error Handler\",[\"164\"],{\"json\":\"165\",\"binary\":\"166\",\"pairedItem\":\"167\"},{\"json\":\"168\",\"binary\":\"169\",\"pairedItem\":\"170\"},{\"json\":\"171\",\"binary\":\"172\",\"pairedItem\":\"173\"},{\"json\":\"174\",\"pairedItem\":\"175\"},{\"json\":\"176\",\"binary\":\"177\",\"pairedItem\":\"178\"},{\"json\":\"179\",\"binary\":\"180\",\"pairedItem\":\"181\"},{\"json\":\"182\",\"pairedItem\":\"183\",\"binary\":\"184\"},{\"json\":\"185\",\"pairedItem\":\"186\",\"binary\":\"187\"},{\"json\":\"188\"},{\"json\":\"189\",\"pairedItem\":\"190\"},{\"json\":\"191\",\"pairedItem\":\"192\"},{\"json\":\"191\",\"pairedItem\":\"193\"},{\"json\":\"194\",\"pairedItem\":\"195\"},{\"json\":\"196\",\"pairedItem\":\"197\"},{\"json\":\"196\",\"pairedItem\":\"198\"},{\"json\":\"199\",\"pairedItem\":\"200\"},{\"json\":\"199\",\"pairedItem\":\"201\"},{\"headers\":\"202\",\"params\":\"203\",\"query\":\"204\",\"body\":\"205\",\"webhookUrl\":\"206\",\"executionMode\":\"207\"},{\"null0\":\"208\",\"null1\":\"209\"},{\"item\":0},{\"headers\":\"210\",\"params\":\"211\",\"query\":\"212\",\"body\":\"213\",\"webhookUrl\":\"206\",\"executionMode\":\"207\"},{\"null0\":\"214\",\"null1\":\"215\"},{\"item\":0},{\"questions\":\"216\",\"domain\":\"217\",\"files\":\"218\",\"totalSizeMB\":6.66,\"totalFiles\":2},{\"null0\":\"219\",\"null1\":\"220\"},{\"item\":0},{\"session_id\":\"221\",\"domain_id\":\"217\",\"total_questions\":1},{\"item\":0},{\"sessionId\":\"221\",\"domain\":\"217\",\"fieldName\":\"222\",\"fileName\":\"223\",\"mimeType\":\"224\",\"fileSize\":6114228,\"hash\":\"225\",\"filePath\":\"226\",\"questions\":\"227\"},{\"data\":\"228\"},{\"item\":0},{\"sessionId\":\"221\",\"domain\":\"217\",\"fieldName\":\"229\",\"fileName\":\"230\",\"mimeType\":\"231\",\"fileSize\":871015,\"hash\":\"232\",\"filePath\":\"233\",\"questions\":\"234\"},{\"data\":\"235\"},{\"item\":0},{\"sessionId\":\"221\",\"domain\":\"217\",\"fieldName\":\"222\",\"fileName\":\"226\",\"mimeType\":\"224\",\"fileSize\":6114228,\"hash\":\"225\",\"filePath\":\"226\",\"questions\":\"227\"},{\"item\":0},{\"data\":\"228\"},{\"sessionId\":\"221\",\"domain\":\"217\",\"fieldName\":\"229\",\"fileName\":\"233\",\"mimeType\":\"231\",\"fileSize\":871015,\"hash\":\"232\",\"filePath\":\"233\",\"questions\":\"234\"},{\"item\":1},{\"data\":\"235\"},{\"sessionId\":\"221\",\"domain\":\"217\",\"questions\":\"236\",\"fileMap\":\"237\",\"totalFiles\":2},{\"success\":true},[\"238\"],{\"jobData\":\"239\",\"jobId\":\"240\",\"sessionId\":\"221\",\"totalQuestions\":1},{\"item\":0},{\"item\":0},{\"success\":true},[\"241\"],{\"sessionId\":\"221\",\"jobId\":\"240\",\"status\":\"242\",\"totalQuestions\":1,\"message\":\"243\",\"estimatedCompletionMinutes\":3},{\"item\":0},{\"item\":0},{\"error\":\"244\",\"status\":500},{\"item\":0},{\"item\":0},{\"content-type\":\"245\",\"content-length\":\"246\",\"user-agent\":\"247\",\"accept\":\"248\",\"x-api-key\":\"249\",\"accept-encoding\":\"250\",\"host\":\"251\"},{},{},{\"questions\":\"252\",\"domain\":\"217\"},\"http://172.206.67.83:5678/webhook/audit/submit\",\"production\",{\"mimeType\":\"224\",\"fileExtension\":\"253\",\"data\":\"254\",\"fileName\":\"223\",\"id\":\"255\",\"fileSize\":\"256\",\"bytes\":6114228},{\"mimeType\":\"231\",\"fileExtension\":\"257\",\"data\":\"254\",\"fileName\":\"230\",\"id\":\"258\",\"fileSize\":\"259\",\"bytes\":871015},{\"content-type\":\"245\",\"content-length\":\"246\",\"user-agent\":\"247\",\"accept\":\"248\",\"x-api-key\":\"249\",\"accept-encoding\":\"250\",\"host\":\"251\"},{},{},{\"questions\":\"252\",\"domain\":\"217\"},{\"mimeType\":\"224\",\"fileExtension\":\"253\",\"data\":\"254\",\"fileName\":\"223\",\"id\":\"255\",\"fileSize\":\"256\",\"bytes\":6114228},{\"mimeType\":\"231\",\"fileExtension\":\"257\",\"data\":\"254\",\"fileName\":\"230\",\"id\":\"258\",\"fileSize\":\"259\",\"bytes\":871015},[\"260\"],\"6ec7535e-6134-4010-9817-8c0849e8f59b\",[\"261\",\"262\"],{\"mimeType\":\"224\",\"fileExtension\":\"253\",\"data\":\"254\",\"fileName\":\"223\",\"id\":\"255\",\"fileSize\":\"256\",\"bytes\":6114228},{\"mimeType\":\"231\",\"fileExtension\":\"257\",\"data\":\"254\",\"fileName\":\"230\",\"id\":\"258\",\"fileSize\":\"259\",\"bytes\":871015},\"bf8fd46c-5b86-4596-a629-4c7599f0f780\",\"null0\",\"NPC_DGO_QDKC_General_Initiative Card Template_V2.pptx\",\"application/vnd.openxmlformats-officedocument.presentationml.presentation\",\"fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119\",\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119.pptx\",[\"263\"],{\"mimeType\":\"224\",\"fileExtension\":\"253\",\"data\":\"254\",\"fileName\":\"223\",\"id\":\"255\",\"fileSize\":\"256\",\"bytes\":6114228},\"null1\",\"NPC_DGO_QDKC_General_Data Management Domain Plan Template_V2.xlsx\",\"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\"0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10\",\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10.xlsx\",[\"264\"],{\"mimeType\":\"231\",\"fileExtension\":\"257\",\"data\":\"254\",\"fileName\":\"230\",\"id\":\"258\",\"fileSize\":\"259\",\"bytes\":871015},[\"265\"],{\"null0\":\"266\",\"null1\":\"267\"},{\"item\":0},\"{\\\"jobId\\\":\\\"0ccc8574-8edd-4f1e-9eb5-de342bcb32e2\\\",\\\"sessionId\\\":\\\"bf8fd46c-5b86-4596-a629-4c7599f0f780\\\",\\\"domain\\\":\\\"6ec7535e-6134-4010-9817-8c0849e8f59b\\\",\\\"questions\\\":[{\\\"question_id\\\":\\\"1daa7d40-a975-4026-b6a9-818b34c2f3c0\\\",\\\"evidence_files\\\":[{\\\"hash\\\":\\\"fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119\\\",\\\"originalName\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119.pptx\\\",\\\"fieldName\\\":\\\"null0\\\"},{\\\"hash\\\":\\\"0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10\\\",\\\"originalName\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10.xlsx\\\",\\\"fieldName\\\":\\\"null1\\\"}]}],\\\"fileMap\\\":{\\\"null0\\\":{\\\"hash\\\":\\\"fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119\\\",\\\"fileName\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119.pptx\\\",\\\"fileSize\\\":6114228,\\\"mimeType\\\":\\\"application/vnd.openxmlformats-officedocument.presentationml.presentation\\\",\\\"fieldName\\\":\\\"null0\\\",\\\"filePath\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/fcd1abb359d572c8b8a932ee1ccc5738c5a817d6543ab12c48621d3c918d4119.pptx\\\"},\\\"null1\\\":{\\\"hash\\\":\\\"0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10\\\",\\\"fileName\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10.xlsx\\\",\\\"fileSize\\\":871015,\\\"mimeType\\\":\\\"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\\\",\\\"fieldName\\\":\\\"null1\\\",\\\"filePath\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780/0fed1cddfc600ffb6ad6f9d21cb1ffd3c8358e5d9f520c5339ab8cc4c2fa6b10.xlsx\\\"}},\\\"sessionDir\\\":\\\"/tmp/n8n_processing/bf8fd46c-5b86-4596-a629-4c7599f0f780\\\",\\\"status\\\":\\\"queued\\\",\\\"createdAt\\\":\\\"2026-02-26T12:42:47.474Z\\\"}\",\"0ccc8574-8edd-4f1e-9eb5-de342bcb32e2\",{\"item\":0},\"queued\",\"Audit submitted successfully. Poll /webhook/audit-status-webhook/audit/status/bf8fd46c-5b86-4596-a629-4c7599f0f780 for progress.\",\"Internal server error\",\"multipart/form-data; boundary=640ce5e830f72bf9-0fd235cb82eee284-3be08451922f0306-e20158f0b40ca7b9\",\"6986485\",\"yaak\",\"*/*\",\"6e8ead397c8423eb63e96f7ecb421b6e591cdfec6311ab345aacb69a901b7a7f\",\"gzip, br, deflate\",\"172.206.67.83:5678\",\"[\\n    {\\\"question_id\\\":\\\"1daa7d40-a975-4026-b6a9-818b34c2f3c0\\\",\\\"files\\\":[\\\"NPC_DGO_QDKC_General_Initiative Card Template_V2.pptx\\\",\\\"NPC_DGO_QDKC_General_Data Management Domain Plan Template_V2.xlsx\\\"]}\\n  ]\",\"pptx\",\"filesystem-v2\",\"filesystem-v2:workflows/nXd5WL1RvTWU329PUtvnO/executions/temp/binary_data/24abd4a6-1796-4f6d-bb32-4ef3cd964f1a\",\"6.11 MB\",\"xlsx\",\"filesystem-v2:workflows/nXd5WL1RvTWU329PUtvnO/executions/temp/binary_data/f998395f-5147-4121-9191-cfb7a4d19233\",\"871 kB\",{\"question_id\":\"268\",\"files\":\"269\"},{\"fieldName\":\"222\",\"fileName\":\"223\",\"fileSize\":6114228,\"mimeType\":\"224\",\"hash\":\"225\"},{\"fieldName\":\"229\",\"fileName\":\"230\",\"fileSize\":871015,\"mimeType\":\"231\",\"hash\":\"232\"},{\"question_id\":\"268\",\"files\":\"270\"},{\"question_id\":\"268\",\"files\":\"271\"},{\"question_id\":\"268\",\"evidence_files\":\"272\"},{\"hash\":\"225\",\"fileName\":\"226\",\"fileSize\":6114228,\"mimeType\":\"224\",\"fieldName\":\"222\",\"filePath\":\"226\"},{\"hash\":\"232\",\"fileName\":\"233\",\"fileSize\":871015,\"mimeType\":\"231\",\"fieldName\":\"229\",\"filePath\":\"233\"},\"1daa7d40-a975-4026-b6a9-818b34c2f3c0\",[\"222\",\"229\"],[\"222\",\"229\"],[\"222\",\"229\"],[\"273\",\"274\"],{\"hash\":\"225\",\"originalName\":\"226\",\"fieldName\":\"222\"},{\"hash\":\"232\",\"originalName\":\"233\",\"fieldName\":\"229\"}]",
  "workflowData": {
    "id": "nXd5WL1RvTWU329PUtvnO",
    "name": "Workflow C1: Audit Entry (Job Submission)",
    "active": true,
    "activeVersionId": "175120a5-083a-4d18-8888-cda211435eb6",
    "isArchived": false,
    "createdAt": "2026-02-21T13:36:39.796Z",
    "updatedAt": "2026-02-23T22:06:03.401Z",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "audit/submit",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "webhookNotice": "",
          "options": {}
        },
        "id": "233d8946-6d1d-4b77-900b-0204dca851da",
        "name": "Webhook: Submit Audit",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          944,
          -176
        ],
        "webhookId": "audit-submit-webhook",
        "credentials": {
          "httpHeaderAuth": {
            "id": "rLge41cF6Tn8aUPg",
            "name": "webhook-api-key"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Parse multipart form data and extract files + questions mapping\nconst crypto = require('crypto');\nconst items = $input.all();\nconst firstItem = items[0];\n\n// Get questions JSON from form data (try multiple locations)\nlet questionsRaw = firstItem.json?.questions || firstItem.json?.body?.questions || firstItem.json?.query?.questions;\n\n// Debug logging\nconsole.log('First item keys:', Object.keys(firstItem.json || {}));\nconsole.log('Questions raw value:', questionsRaw);\nif (firstItem.binary) {\n    console.log('Binary field keys:', Object.keys(firstItem.binary));\n}\n\nif (!questionsRaw) {\n    throw new Error('Missing \"questions\" parameter. Expected JSON array: [{\"question_id\":\"q1\",\"files\":[\"file1.pdf\"]}]. Received structure: ' + JSON.stringify(Object.keys(firstItem.json || {})));\n}\n\nlet questions;\ntry {\n    // Sanitize: strip control characters (newlines, carriage returns, tabs) that\n    // can sneak in from multi-line curl commands or copy-paste issues\n    if (typeof questionsRaw === 'string') {\n        questionsRaw = questionsRaw.replace(/[\\x00-\\x1F\\x7F]/g, ' ').trim();\n    }\n    questions = typeof questionsRaw === 'string' ? JSON.parse(questionsRaw) : questionsRaw;\n} catch (e) {\n    throw new Error('Invalid questions JSON format: ' + e.message);\n}\n\nif (!questions || !Array.isArray(questions) || questions.length === 0) {\n    throw new Error('Questions must be non-empty array. Got: ' + typeof questions);\n}\n\n// Extract domain (optional, can be inferred from questions)\nconst domain = firstItem.json?.domain || firstItem.json?.body?.domain || firstItem.json?.query?.domain || 'General';\n\n// Calculate file stats using binary metadata + getBinaryDataBuffer as fallback\nlet totalSize = 0;\nconst fileMetadata = [];\n\nif (firstItem.binary) {\n    for (const [fieldName, binaryData] of Object.entries(firstItem.binary)) {\n        if (!binaryData) continue;\n\n        // Get the buffer and generate hash here, since this.helpers.getBinaryDataBuffer \n        // is fully valid for the current node's incoming binary data.\n        const buf = await this.helpers.getBinaryDataBuffer(0, fieldName);\n        const fileSize = buf.length;\n        const hash = crypto.createHash('sha256').update(buf).digest('hex');\n\n        totalSize += fileSize;\n        fileMetadata.push({\n            fieldName,\n            fileName: binaryData.fileName || fieldName,\n            fileSize,\n            mimeType: binaryData.mimeType || 'application/octet-stream',\n            hash\n        });\n    }\n}\n\n// Debug: log binary field names so mismatches are easy to diagnose\nconsole.log('Binary fields available:', JSON.stringify(fileMetadata.map(f => ({ fieldName: f.fieldName, fileName: f.fileName, hash: f.hash }))));\n\n// Enforce 500MB total limit for large file support\nif (totalSize > 500 * 1024 * 1024) {\n    throw new Error(`Total file size exceeds 500MB limit (current: ${Math.round(totalSize / 1024 / 1024)}MB)`);\n}\n\n// Helper: find uploaded file by matching fieldName OR fileName (flexible match)\n// Handles n8n field-name sanitization (spaces vs underscores, etc.)\nfunction findUploadedFile(name) {\n    const norm = (s) => s.replace(/[_ ]/g, ' ').trim().toLowerCase();\n    return fileMetadata.find(f =>\n        f.fieldName === name || f.fileName === name ||\n        norm(f.fieldName) === norm(name) || norm(f.fileName) === norm(name)\n    );\n}\n\n// Validate: each question references valid uploaded files\nfor (const q of questions) {\n    if (!q.question_id) {\n        throw new Error('Each question must have a \"question_id\" field');\n    }\n    if (!q.files || !Array.isArray(q.files) || q.files.length === 0) {\n        throw new Error(`Question ${q.question_id} has no files specified`);\n    }\n\n    // Remap files array to use the actual binary fieldName for downstream nodes\n    q.files = q.files.map(fileName => {\n        const found = findUploadedFile(fileName);\n        if (!found) {\n            const available = fileMetadata.map(f => f.fieldName + ' (file: ' + f.fileName + ')').join(', ');\n            throw new Error(`Question ${q.question_id} references file \"${fileName}\" which was not uploaded. Available: [${available}]`);\n        }\n        return found.fieldName;\n    });\n}\n\n// Update JSON content but preserve original binary attachment\nfirstItem.json = {\n    questions,\n    domain,\n    files: fileMetadata,\n    totalSizeMB: Math.round(totalSize / 1024 / 1024 * 100) / 100,\n    totalFiles: fileMetadata.length\n};\n\nreturn [firstItem];\n",
          "notice": ""
        },
        "id": "847bc6db-c5af-4b47-a05f-1a5e26368dca",
        "name": "Parse & Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          -352
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO audit_sessions (session_id, domain_id, initiated_by, status, started_at, total_questions, answered_questions, overall_compliance_score)\nVALUES (gen_random_uuid(), '{{ $json.domain.replace(/'/g, \"''\") }}', 'api_user', 'queued', NOW(), {{ $json.questions.length }}, 0, 0)\nRETURNING session_id, domain_id, total_questions;",
          "options": {}
        },
        "id": "c0c995e3-82c1-45a1-ad99-d5a61caa1972",
        "name": "Create Audit Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1616,
          -208
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Calculate hashes and prepare items for writing\nconst path = require('path');\nconst fs = require('fs');\n\nconst sessionData = $input.first().json;\nconst sessionId = sessionData.session_id; // from Postgres\n// If domain is missing from Postgres, get it from Parse node\nconst domain = sessionData.domain || $('Parse & Validate Input').first().json.domain;\n\nconst prevNodeData = $('Parse & Validate Input').first();\nconst questions = prevNodeData.json.questions;\nconst filesMeta = prevNodeData.json.files; // Hashes are now passed here!\nconst binaryData = prevNodeData.binary;\nconst binaryKeys = Object.keys(binaryData || {});\n\n// Create session directory\nconst sessionDir = `/tmp/n8n_processing/${sessionId}`;\nif (!fs.existsSync(sessionDir)) {\n    fs.mkdirSync(sessionDir, { recursive: true });\n}\n\nconsole.log(`Created session directory: ${sessionDir}`);\n\nconst items = [];\n\nfor (let ki = 0; ki < binaryKeys.length; ki++) {\n    const fieldName = binaryKeys[ki];\n    const fileData = binaryData[fieldName];\n    if (!fileData) continue;\n\n    // Find the hash computed in the previous step\n    const meta = filesMeta.find(f => f.fieldName === fieldName);\n    const hash = meta ? meta.hash : 'unknown_hash_' + ki;\n\n    const ext = path.extname(fileData.fileName || '') || '.bin';\n    const diskFileName = `${hash}${ext}`;\n    const filePath = path.join(sessionDir, diskFileName);\n\n    items.push({\n        json: {\n            sessionId,\n            domain,\n            fieldName,\n            fileName: fileData.fileName,\n            mimeType: fileData.mimeType,\n            fileSize: meta ? meta.fileSize : 0,\n            hash,\n            filePath,\n            questions\n        },\n        // We pass the binary data placeholder forward for Write Binary File to save\n        binary: {\n            data: fileData\n        }\n    });\n}\n\nreturn items;\n",
          "notice": ""
        },
        "name": "Prepare File Writes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          -208
        ],
        "id": "3332a3aa-9564-44b2-ac68-7388b705a999"
      },
      {
        "parameters": {
          "info": "",
          "operation": "write",
          "fileName": "={{ $json.filePath }}",
          "dataPropertyName": "data",
          "options": {}
        },
        "name": "Write Binary File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          2048,
          -208
        ],
        "id": "f29ccd58-4c2d-4c74-81f8-f7805c155a1a"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Reconstruct fileMap and question structure\nconst items = $input.all();\nconst firstItem = items[0].json;\nconst sessionId = firstItem.sessionId;\nconst domain = firstItem.domain;\nconst questions = firstItem.questions;\n\nconst fileMap = {};\n\nfor (const item of items) {\n  const row = item.json;\n  fileMap[row.fieldName] = {\n    hash: row.hash,\n    fileName: row.fileName,\n    fileSize: row.fileSize,\n    mimeType: row.mimeType,\n    fieldName: row.fieldName,\n    filePath: row.filePath\n  };\n}\n\n// Map questions to hashes\nconst questionsWithHashes = questions.map(q => ({\n  question_id: q.question_id,\n  evidence_files: q.files.map(fileName => {\n    const fileInfo = fileMap[fileName];\n    return {\n      hash: fileInfo.hash,\n      originalName: fileInfo.fileName,\n      fieldName: fileName\n    };\n  })\n}));\n\nreturn [{\n  json: {\n    sessionId,\n    domain,\n    questions: questionsWithHashes,\n    fileMap,\n    totalFiles: Object.keys(fileMap).length\n  }\n}];",
          "notice": ""
        },
        "name": "Aggregate Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          -208
        ],
        "id": "af6ea950-78ec-4235-963e-5e0d417c8333"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO audit_logs (session_id, question_id, step_name, status, message, percentage, created_at)\nVALUES ('{{ $json.sessionId }}', NULL, 'queued', 'in_progress', '{{ \"Job queued: \" + $json.questions.length + \" questions, \" + $json.totalFiles + \" files\" }}', 0, NOW());",
          "options": {}
        },
        "id": "a6a0ad26-d93d-43d6-ac2d-02e17a135da6",
        "name": "Log: Job Queued",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2496,
          -208
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Create Redis job payload\nconst crypto = require('crypto');\n\n// Get data from Aggregate Files node\nconst data = $('Aggregate Files').first().json;\n\n// Debug: log what we received\nconsole.log('Build Redis Job - received data keys:', Object.keys(data));\nconsole.log('Build Redis Job - questions value:', data.questions);\n\nif (!data.questions || !Array.isArray(data.questions)) {\n  throw new Error('Invalid data received: questions is ' + typeof data.questions + '. Full data keys: ' + Object.keys(data).join(', '));\n}\n\nconst jobId = crypto.randomUUID();\n\nconst job = {\n  jobId: jobId,\n  sessionId: data.sessionId,\n  domain: data.domain,\n  questions: data.questions,\n  fileMap: data.fileMap,\n  sessionDir: `/tmp/n8n_processing/${data.sessionId}`,\n  status: 'queued',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    jobData: JSON.stringify(job),\n    jobId: jobId,\n    sessionId: data.sessionId,\n    totalQuestions: data.questions.length\n  }\n}];",
          "notice": ""
        },
        "id": "0169cd4e-1075-4527-bcdc-5a95547bc7d0",
        "name": "Build Redis Job Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2720,
          -208
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "audit_job_queue",
          "messageData": "={{ $json.jobData }}",
          "tail": false
        },
        "id": "83f1d003-f601-4bc4-b093-d9362272ee6c",
        "name": "Enqueue Job to Redis",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          2944,
          -208
        ],
        "credentials": {
          "redis": {
            "id": "3yKsgGvyPO34pEou",
            "name": "redis-compliance"
          }
        }
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "UPDATE audit_sessions SET job_id = '{{ $json.jobId }}' WHERE session_id = '{{ $json.sessionId }}';",
          "options": {}
        },
        "id": "ad7430b7-a414-4c6b-a1e3-2c4e7ed43a40",
        "name": "Update Session Job ID",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3168,
          -208
        ],
        "credentials": {
          "postgres": {
            "id": "vHtTiUI3UJbToT2M",
            "name": "postgres-compliance"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "duplicateItem": false,
          "jsonOutput": "={{ {\n  \"sessionId\": $('Build Redis Job Payload').first().json.sessionId,\n  \"jobId\": $('Build Redis Job Payload').first().json.jobId,\n  \"status\": \"queued\",\n  \"totalQuestions\": $('Build Redis Job Payload').first().json.totalQuestions,\n  \"message\": \"Audit submitted successfully. Poll /webhook/audit-status-webhook/audit/status/\" + $('Build Redis Job Payload').first().json.sessionId + \" for progress.\",\n  \"estimatedCompletionMinutes\": Math.ceil($('Build Redis Job Payload').first().json.totalQuestions * 2.5)\n} }}",
          "includeOtherFields": false,
          "options": {}
        },
        "id": "f949cf76-20ce-4f7c-b330-0509a11398bc",
        "name": "Build Success Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3392,
          -208
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 202
          }
        },
        "id": "d7359b07-f567-4a9d-9d6c-4dc4e262f46a",
        "name": "Respond: Accepted",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          3600,
          -208
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "duplicateItem": false,
          "jsonOutput": "={{ { \"error\": $json.error?.message || \"Internal server error\", \"status\": 500 } }}",
          "includeOtherFields": false,
          "options": {}
        },
        "id": "1673e22a-b4eb-42a5-8d96-eabdfd0cb229",
        "name": "Error Handler",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1408,
          -16
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ $json.status || 500 }}"
          }
        },
        "id": "d80648ea-7a04-4d49-b838-d12eaa67b806",
        "name": "Respond: Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1696,
          80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const crypto = require('crypto');\nconst https = require('https');\n\n// Parse credentials from connection string (mirrors blobstorage.js approach)\nconst connectionString = $env.AZURE_STORAGE_CONNECTION_STRING || $env.AZURE_BLOB_CONNECTION_STRING;\nlet accountName, accountKey;\nif (connectionString) {\n  accountName = connectionString.match(/AccountName=([^;]+)/)?.[1];\n  accountKey  = connectionString.match(/AccountKey=([^;]+)/)?.[1];\n}\n// Fallback to individual env vars if connection string not set\nif (!accountName) accountName = $env.AZURE_STORAGE_ACCOUNT_NAME || 'unificdmpblob';\nif (!accountKey)  accountKey  = $env.AZURE_STORAGE_ACCOUNT_KEY;\n\nif (!accountKey) {\n  throw new Error(\n    'Azure credentials not found. Set AZURE_STORAGE_CONNECTION_STRING ' +\n    '(e.g. \"DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net\") ' +\n    'in the n8n container environment.'\n  );\n}\n\nfunction httpsGet(url) {\n  return new Promise((resolve, reject) => {\n    https.get(url, (res) => {\n      const chunks = [];\n      res.on('data', chunk => chunks.push(chunk));\n      res.on('end', () => resolve({\n        buffer: Buffer.concat(chunks),\n        statusCode: res.statusCode,\n        contentType: res.headers['content-type'] || 'application/octet-stream'\n      }));\n      res.on('error', reject);\n    }).on('error', reject);\n  });\n}\n\nfunction generateSasUrl(container, blobPath, sr = 'b', permissions = 'r') {\n  const now = new Date();\n  const expiry = new Date(now.getTime() + 3600000); // 1 hour\n  const sv = '2020-12-06';\n  const fmt = (d) => d.toISOString().replace(/\\.\\d{3}Z$/, 'Z');\n  const st = fmt(now);\n  const se = fmt(expiry);\n  const canonicalizedResource = `/blob/${accountName}/${container}/${blobPath}`;\n  // sv=2020-12-06: 16 fields, 15 \\n, NO trailing newline (signedEncryptionScope added)\n  const stringToSign = [permissions, st, se, canonicalizedResource, '', '', 'https', sv, sr, '', '', '', '', '', '', ''].join('\\n');\n  const key = Buffer.from(accountKey, 'base64');\n  const sig = crypto.createHmac('sha256', key).update(Buffer.from(stringToSign, 'utf8')).digest('base64');\n  // Build query string manually \u2014 URLSearchParams is not available in the n8n task runner VM sandbox\n  const qs = 'sv='  + encodeURIComponent(sv)\n           + '&sr=b'\n           + '&sp=r'\n           + '&st='  + encodeURIComponent(st)\n           + '&se='  + encodeURIComponent(se)\n           + '&spr=https'\n           + '&sig=' + encodeURIComponent(sig);\n  return `https://${accountName}.blob.core.windows.net/${container}/${blobPath}?${qs}`;\n}\n\nasync function fetchBlob(container, blobPath) {\n  const sasUrl = generateSasUrl(container, blobPath);\n  const { buffer, statusCode, contentType } = await httpsGet(sasUrl);\n  if (statusCode !== 200) {\n    throw new Error(`Azure Blob download failed HTTP ${statusCode} for ${container}/${blobPath}. Body: ${buffer.toString().substring(0, 300)}`);\n  }\n  return { buffer, contentType };\n}\n\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  // Pass through if binary already present (direct file upload path)\n  if (item.binary && Object.keys(item.binary).length > 0) {\n    result.push(item);\n    continue;\n  }\n\n  // Normalize: test webhook wraps body under item.json.body; production uses item.json directly\n  const bodyData  = item.json.body || item.json;\n  const blobPath  = bodyData.blobPath;\n  const blobFiles = bodyData.blobFiles;\n\n  if (!blobPath && !blobFiles) {\n    result.push(item);\n    continue;\n  }\n\n  if (!item.binary) item.binary = {};\n\n  if (blobPath) {\n    // Single-file mode: { \"blobPath\": \"folder/file.pdf\", \"azureContainer\": \"compliance\" }\n    const container = bodyData.azureContainer || 'compliance';\n    const { buffer, contentType } = await fetchBlob(container, blobPath);\n    const fileName = blobPath.split('/').pop();\n    item.binary.data = await this.helpers.prepareBinaryData(buffer, fileName, contentType);\n    item.json.azureBlobFetched = true;\n    item.json.originalFileName = fileName;\n  }\n\n  if (blobFiles) {\n    // Multi-file mode: { \"file0\": \"path.pdf\" } or { \"file0\": { \"blobPath\": \"...\", \"container\": \"...\" } }\n    for (const [fieldName, blobInfo] of Object.entries(blobFiles)) {\n      const bp = typeof blobInfo === 'string' ? blobInfo : blobInfo.blobPath;\n      const container = (typeof blobInfo === 'object' && blobInfo.container)\n        ? blobInfo.container\n        : (item.json.azureContainer || 'compliance');\n      const { buffer, contentType } = await fetchBlob(container, bp);\n      const fileName = bp.split('/').pop();\n      item.binary[fieldName] = await this.helpers.prepareBinaryData(buffer, fileName, contentType);\n    }\n    item.json.azureBlobFetched = true;\n  }\n\n  result.push(item);\n}\n\nreturn result;",
          "notice": ""
        },
        "id": "d2571357-d7e4-4e22-b03c-bde1622b22e0",
        "name": "Fetch Azure Blob",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          -288
        ]
      }
    ],
    "connections": {
      "Webhook: Submit Audit": {
        "main": [
          [
            {
              "node": "Fetch Azure Blob",
              "type": "main",
              "index": 0
            },
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Validate Input": {
        "main": [
          [
            {
              "node": "Create Audit Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Audit Session": {
        "main": [
          [
            {
              "node": "Prepare File Writes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Writes": {
        "main": [
          [
            {
              "node": "Write Binary File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Binary File": {
        "main": [
          [
            {
              "node": "Aggregate Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Files": {
        "main": [
          [
            {
              "node": "Log: Job Queued",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log: Job Queued": {
        "main": [
          [
            {
              "node": "Build Redis Job Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Redis Job Payload": {
        "main": [
          [
            {
              "node": "Enqueue Job to Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enqueue Job to Redis": {
        "main": [
          [
            {
              "node": "Update Session Job ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Session Job ID": {
        "main": [
          [
            {
              "node": "Build Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Response": {
        "main": [
          [
            {
              "node": "Respond: Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Handler": {
        "main": [
          [
            {
              "node": "Respond: Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Azure Blob": {
        "main": [
          [
            {
              "node": "Parse & Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": {},
    "pinData": {}
  },
  "workflow_name": "Workflow C1: Audit Entry (Job Submission)",
  "workflow_active": true
}