workflows/unifi-npc-compliance/workflow-c4-results-retrieval.json
{
  "name": "Workflow C4: Results Retrieval (Completed Audits)",
  "nodes": [
    {
      "parameters": {
        "path": "audit/results/:sessionId",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa0790d0-d885-4215-b4cb-9971678e4e6f",
      "name": "Webhook: Get Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4064,
        1136
      ],
      "webhookId": "audit-results-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vEI3chDpJCAaVSBo",
          "name": "webhook-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $input.first().json.params.sessionId;\n\nif (!sessionId) {\n  throw new Error('Session ID is required');\n}\n\n// Validate UUID format (8-4-4-4-12 hex digits)\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(sessionId)) {\n  throw new Error('Invalid session ID format. Expected UUID format.');\n}\n\nreturn [{ json: { sessionId } }];"
      },
      "id": "35f3950f-14da-4466-932e-f6d6691530d5",
      "name": "Extract Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-session-id",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d647ad1-ae96-40b9-990f-399f9c23bdb0",
      "name": "IF: Valid Session ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4512,
        832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, domain_id, status, started_at, completed_at, total_questions, answered_questions, overall_compliance_score, metadata\nFROM audit_sessions\nWHERE session_id = '{{ $json.sessionId }}'::uuid AND status IN ('completed', 'failed');",
        "options": {}
      },
      "id": "1c6022dc-e924-4469-b0cd-b3323705d816",
      "name": "Query Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4816,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "o2VouyDVcSpuwBGK",
          "name": "postgres-compliance"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "has-session-data",
                    "leftValue": "={{ $json.session_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2849cf6e-9b25-4349-8036-cbcb8b44443b",
      "name": "Check: Session Found?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5024,
        784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.question_id, q.question_text, q.domain_id, l.ai_response, l.created_at\nFROM audit_logs l\nJOIN audit_questions q ON l.question_id = q.question_id\nWHERE l.session_id = '{{ $('Extract Session ID').first().json.sessionId }}'::uuid \n  AND l.step_name = 'completed' \n  AND l.status = 'success'\nORDER BY l.created_at;",
        "options": {}
      },
      "id": "a7383684-2f7b-40a7-8e67-7a395d68be1d",
      "name": "Query Evaluations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5440,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "o2VouyDVcSpuwBGK",
          "name": "postgres-compliance"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const session = $('Query Session').first().json;\nconst evaluations = $input.all().map(item => item.json);\n\nif (session.status === 'failed') {\n  const metadata = session.metadata || {};\n  const technicalDetails = metadata.technicalDetails || null;\n  const fallbackMessage = 'Audit failed during processing. Please retry or contact support with your session ID.';\n\n  return [{\n    json: {\n      sessionId: session.session_id,\n      domainId: session.domain_id,\n      status: session.status,\n      startedAt: session.started_at,\n      completedAt: session.completed_at,\n      totalQuestions: session.total_questions,\n      answeredQuestions: session.answered_questions,\n      overallScore: session.overall_compliance_score,\n      error: metadata.error || fallbackMessage,\n      failedNode: metadata.failedNode || null,\n      failedAt: metadata.failedAt || session.completed_at,\n      technicalDetails\n    }\n  }];\n}\n\nconst results = evaluations.map(eval => ({\n  questionId: eval.question_id,\n  question: eval.question_text,\n  questionDomain: eval.domain_id,\n  evaluation: eval.ai_response,\n  evaluatedAt: eval.created_at\n}));\n\nreturn [{\n  json: {\n    sessionId: session.session_id,\n    domainId: session.domain_id,\n    status: session.status,\n    startedAt: session.started_at,\n    completedAt: session.completed_at,\n    totalQuestions: session.total_questions,\n    answeredQuestions: session.answered_questions,\n    overallScore: session.overall_compliance_score,\n    results: results,\n    summary: {\n      compliantCount: results.filter(r => r.evaluation?.compliant === true).length,\n      nonCompliantCount: results.filter(r => r.evaluation?.compliant === false).length,\n      averageConfidence: results.length > 0 \n        ? Math.round(results.reduce((sum, r) => sum + (r.evaluation?.confidence || 0), 0) / results.length)\n        : 0\n    }\n  }\n}];"
      },
      "id": "d05fa818-58a6-491b-a71e-8c5cf942c196",
      "name": "Build Results Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1c7a2b1a-42cf-47c0-b66d-7aa46096720c",
      "name": "Respond: Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5792,
        928
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"error\": \"Session not found\", \"status\": 404 } }}",
        "options": {}
      },
      "id": "d6026486-8249-45a8-bdaa-3a9f485773a4",
      "name": "Error: Not Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5248,
        1312
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "7b912aa2-817b-402d-8e8c-bd55236b3345",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5568,
        1312
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "facc33ef-aba6-4a80-a4f2-53a560a07d10",
      "name": "Respond: Server Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4816,
        1488
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Get Results": {
      "main": [
        [
          {
            "node": "Extract Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session ID": {
      "main": [
        [
          {
            "node": "IF: Valid Session ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Session": {
      "main": [
        [
          {
            "node": "Check: Session Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Evaluations": {
      "main": [
        [
          {
            "node": "Build Results Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Results Response": {
      "main": [
        [
          {
            "node": "Respond: Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Not Found": {
      "main": [
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Session Found?": {
      "main": [
        [
          {
            "node": "Query Evaluations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Valid Session ID?": {
      "main": [
        [
          {
            "node": "Query Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2698379-15d1-4f13-97ba-b478436b8590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "633797609a32887ee9bd2dd2130a91be77c69c0480540cd258fc427bbd7f9ad9"
  },
  "id": "wGcQHuEYmk8lOYePgki29",
  "tags": []
}