workflows/workflow-c-audit-orchestrator.json
{
  "name": "Workflow C: Audit Orchestrator (All-in-One)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit/run",
        "responseMode": "responseNode",
        "options": {
          "responseTimeout": 1800000
        }
      },
      "id": "webhook-audit-run",
      "name": "Webhook: Run Audit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "webhookId": "audit-run-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "has-file",
                    "leftValue": "={{ Object.keys($binary).length > 0 }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [460, 460],
      "id": "validate-file",
      "name": "Validate File"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"error\": \"Missing file in request\", \"status\": 400 } }}"
      },
      "id": "error-no-file",
      "name": "Error: No File",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 620]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-no-file",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 620]
    },
    {
      "parameters": {
        "jsCode": "// Extract parameters from webhook\nconst webhookData = $input.first().json;\nconst domain = webhookData.query?.domain || webhookData.body?.domain;\nconst qId = webhookData.query?.q_id || webhookData.body?.q_id;\n\n// Validate required parameters\nif (!domain || !qId) {\n  throw new Error('Missing required parameters: domain and q_id');\n}\n\nreturn [{\n  json: {\n    domain,\n    qId,\n    timestamp: new Date().toISOString()\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize binary data to 'data' field\nfor (const item of $input.all()) {\n  if (item.binary) {\n    const binaryKeys = Object.keys(item.binary);\n    if (binaryKeys.length > 0) {\n      const firstKey = binaryKeys[0];\n      if (firstKey !== 'data') {\n        item.binary.data = item.binary[firstKey];\n        delete item.binary[firstKey];\n      }\n    }\n  }\n}\nreturn $input.all();"
      },
      "id": "normalize-binary",
      "name": "Normalize Binary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst items = $input.all();\n\nreturn items.map(item => {\n  const binaryKey = Object.keys(item.binary)[0];\n  const binaryData = item.binary[binaryKey];\n  const hash = crypto.createHash('sha256').update(Buffer.from(binaryData.data, 'base64')).digest('hex');\n  \n  return {\n    json: {\n      ...item.json,\n      fileHash: hash,\n      fileName: binaryData.fileName || 'upload'\n    },\n    binary: item.binary\n  };\n});"
      },
      "id": "calculate-hash",
      "name": "Calculate File Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_sessions (session_id, domain, initiated_by, status) VALUES (uuid_generate_v4(), $1, 'api_user', 'in_progress') RETURNING session_id",
        "options": {
          "queryReplacement": "={{ $json.domain }}"
        }
      },
      "id": "create-session",
      "name": "Create Audit Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from previous node (Postgres returns array)\nconst sessionItems = $input.all();\nconst params = $('Calculate File Hash').first().json;\nconst binary = $('Calculate File Hash').first().binary;\n\n// Postgres returns array of rows, get the first item's session_id\nconst sessionId = sessionItems[0].json.session_id;\n\nif (!sessionId) {\n  throw new Error('Failed to create audit session');\n}\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    domain: params.domain,\n    qId: params.qId,\n    fileHash: params.fileHash,\n    fileName: params.fileName,\n    timestamp: params.timestamp\n  },\n  binary: binary\n}];"
      },
      "id": "merge-session-data",
      "name": "Merge Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 1800000
        }
      },
      "id": "call-extractor",
      "name": "Call Workflow A: Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const extracted = $input.first().json;\nconst sessionData = $('Merge Session Data').first().json;\n\nreturn [{\n  json: {\n    sessionId: sessionData.sessionId,\n    qId: sessionData.qId,\n    domain: sessionData.domain,\n    fileName: sessionData.fileName,\n    fileHash: sessionData.fileHash,\n    extractedData: extracted\n  }\n}];"
      },
      "id": "prepare-evidence",
      "name": "Prepare Evidence Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_evidence (session_id, q_id, domain, filename, file_hash, extracted_data) VALUES ($1, $2, $3, $4, $5, $6::jsonb) RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.sessionId }},={{ $json.qId }},={{ $json.domain }},={{ $json.fileName }},={{ $json.fileHash }},={{ JSON.stringify($json.extractedData) }}"
        }
      },
      "id": "store-evidence",
      "name": "Store Evidence in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM audit_questions WHERE q_id = $1",
        "options": {
          "queryReplacement": "={{ $('Prepare Evidence Data').first().json.qId }}"
        }
      },
      "id": "load-question",
      "name": "Load Question",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Postgres returns array of rows\nconst questionItems = $input.all();\nif (questionItems.length === 0 || !questionItems[0].json.q_id) {\n  throw new Error('Question not found: ' + $('Prepare Evidence Data').first().json.qId);\n}\n\nconst question = questionItems[0].json;\nconst evidenceData = $('Prepare Evidence Data').first().json;\n\nlet evidenceText = '';\nif (evidenceData.extractedData?.fullDocument) {\n  evidenceText = evidenceData.extractedData.fullDocument;\n} else {\n  evidenceText = JSON.stringify(evidenceData.extractedData);\n}\n\nreturn [{\n  json: {\n    sessionId: evidenceData.sessionId,\n    qId: question.q_id,\n    domain: question.domain,\n    questionText: question.question_text,\n    promptInstructions: question.prompt_instructions,\n    evidenceText: evidenceText,\n    hasEvidence: evidenceText.length > 0\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Audit Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"nomic-embed-text\", \"prompt\": $json.questionText + ' ' + $json.promptInstructions } }}",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/compliance_standards/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"vector\": $json.embedding,\n  \"limit\": 5,\n  \"with_payload\": true\n} }}",
        "options": {}
      },
      "id": "search-standards",
      "name": "RAG: Search Standards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "jsCode": "const contextData = $('Prepare Audit Context').item.json;\nconst qdrantResults = $input.first().json.result || [];\n\nconst relevantStandards = qdrantResults.map(r => ({\n  text: r.payload?.text || '',\n  standardName: r.payload?.standardName || 'Unknown',\n  score: r.score || 0\n}));\n\nconst standardsText = relevantStandards\n  .map(s => `[${s.standardName} (relevance: ${s.score.toFixed(2)})]: ${s.text.substring(0, 600)}`)\n  .join('\\n\\n');\n\nconst prompt = `You are a compliance auditor. Evaluate the following evidence against this audit question.\n\nQUESTION:\n${contextData.questionText}\n\nEVALUATION INSTRUCTIONS:\n${contextData.promptInstructions}\n\nEVIDENCE PROVIDED BY ENTITY:\n${contextData.evidenceText.substring(0, 8000)}\n\nRELEVANT COMPLIANCE STANDARDS:\n${standardsText}\n\nProvide a structured JSON evaluation with:\n{\n  \"compliant\": boolean,\n  \"confidence\": number (0-100),\n  \"score\": number (0-100),\n  \"findings\": string (detailed analysis),\n  \"evidence_summary\": string (what evidence was found),\n  \"gaps\": string[] (what's missing),\n  \"recommendations\": string[] (improvement suggestions)\n}`;\n\nreturn [{\n  json: {\n    ...contextData,\n    prompt,\n    relevantStandardsCount: relevantStandards.length\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama3.2\",\n  \"prompt\": $json.prompt,\n  \"format\": \"json\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"top_p\": 0.9,\n    \"num_ctx\": 32768\n  }\n} }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "call-llm",
      "name": "AI Evaluation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "jsCode": "const contextData = $('Build AI Prompt').item.json;\nconst llmResponse = $input.first().json;\n\nlet evaluation = {};\ntry {\n  let content = llmResponse.response || '{}';\n  content = content.replace(/^```json\\s*/, '').replace(/\\s*```$/, '').trim();\n  evaluation = JSON.parse(content);\n} catch (e) {\n  evaluation = {\n    compliant: false,\n    confidence: 0,\n    score: 0,\n    findings: 'Failed to parse LLM response: ' + e.message,\n    evidence_summary: 'Error during evaluation',\n    gaps: ['LLM response parsing failed'],\n    recommendations: ['Retry the audit']\n  };\n}\n\n// Add metadata to evaluation for audit log\nevaluation.question_text = contextData.questionText;\nevaluation.domain = contextData.domain;\nevaluation.q_id = contextData.qId;\n\nreturn [{\n  json: {\n    sessionId: contextData.sessionId,\n    qId: contextData.qId,\n    domain: contextData.domain,\n    questionText: contextData.questionText,\n    evaluation,\n    standardsUsed: contextData.relevantStandardsCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-evaluation",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (session_id, q_id, step_name, status, ai_response, created_at) VALUES ($1, $2, $3, 'completed', $4::jsonb, NOW()) RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.sessionId }},={{ $json.qId }},={{ 'ai_evaluation' }},={{ JSON.stringify($json.evaluation) }}"
        }
      },
      "id": "log-result",
      "name": "Log Audit Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3980, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE audit_sessions SET status = 'completed', completed_at = NOW(), answered_questions = 1, overall_compliance_score = $2 WHERE session_id = $1",
        "options": {
          "queryReplacement": "={{ $('Parse AI Response').first().json.sessionId }},={{ $('Parse AI Response').first().json.evaluation.score || 0 }}"
        }
      },
      "id": "update-session",
      "name": "Update Session Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4200, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM audit_evidence WHERE session_id = $1",
        "options": {
          "queryReplacement": "={{ $('Parse AI Response').first().json.sessionId }}"
        }
      },
      "id": "cleanup-evidence",
      "name": "Cleanup: Delete Evidence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4420, 300],
      "credentials": {
        "postgres": {
          "id": "3ME8TvhWnolXkgqg",
          "name": "Compliance DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evaluation = $('Parse AI Response').first().json;\nconst logItems = $('Log Audit Result').all();\n\nconst result = {\n  status: 'success',\n  sessionId: evaluation.sessionId,\n  auditLogId: logItems.length > 0 ? logItems[0].json.id : null,\n  question: {\n    qId: evaluation.qId,\n    domain: evaluation.domain,\n    text: evaluation.questionText\n  },\n  evaluation: {\n    compliant: evaluation.evaluation.compliant,\n    score: evaluation.evaluation.score,\n    confidence: evaluation.evaluation.confidence,\n    findings: evaluation.evaluation.findings,\n    evidenceSummary: evaluation.evaluation.evidence_summary,\n    gaps: evaluation.evaluation.gaps || [],\n    recommendations: evaluation.evaluation.recommendations || []\n  },\n  metadata: {\n    standardsUsed: evaluation.standardsUsed,\n    completedAt: evaluation.timestamp,\n    evidenceCleanedUp: true\n  }\n};\n\nreturn [{ json: result }];"
      },
      "id": "format-response",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4860, 300]
    }
  ],
  "connections": {
    "Webhook: Run Audit": {
      "main": [
        [
          {
            "node": "Validate File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: No File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: No File": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Normalize Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Binary Data": {
      "main": [
        [
          {
            "node": "Calculate File Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate File Hash": {
      "main": [
        [
          {
            "node": "Create Audit Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audit Session": {
      "main": [
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Data": {
      "main": [
        [
          {
            "node": "Call Workflow A: Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Workflow A: Extract": {
      "main": [
        [
          {
            "node": "Prepare Evidence Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Evidence Data": {
      "main": [
        [
          {
            "node": "Store Evidence in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Evidence in DB": {
      "main": [
        [
          {
            "node": "Load Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Question": {
      "main": [
        [
          {
            "node": "Prepare Audit Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Context": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "RAG: Search Standards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Search Standards": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluation": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Log Audit Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit Result": {
      "main": [
        [
          {
            "node": "Update Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Status": {
      "main": [
        [
          {
            "node": "Cleanup: Delete Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup: Delete Evidence": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "2"
}
