archive-poc/compliance-poc.json
{
  "name": "compliance-poc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-compliance",
        "options": {}
      },
      "id": "191b9b73-64c2-4282-bab1-0374fe579549",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        7680,
        3952
      ],
      "webhookId": "dd082bf0-480f-4527-abc0-fe19fdfde3cc"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.query.complianceType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $json.query.fileType !== undefined }}",
              "value2": true
            },
            {
              "value1": "={{ $binary.data !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "46d595d9-1152-4d93-8657-1e0a4a2ce2de",
      "name": "Validate Input (Query+File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7904,
        3952
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing required fields (check Query Params) or File."
            }
          ]
        },
        "options": {}
      },
      "id": "21999b48-3f08-4fa5-aa47-aa39429c8ec2",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        8128,
        4048
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "process",
              "value": "Ready to extract text"
            },
            {
              "name": "compliance_type",
              "value": "={{ $json.query.complianceType }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e05afa3-c9e9-4917-babd-987d02d6d2a7",
      "name": "Validation Passed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        8128,
        3856
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67f6c01d-9749-44a9-a9f7-e8677298515d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e41cb655-6b9e-4852-8444-f281cc460bd6",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Architecture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "415d57e6-4597-40e5-81d6-7f3800489f0b",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Governance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fd83beb-9070-49c8-9bb7-7e6c69a50e47",
                    "leftValue": "={{ $json.query.complianceType }}",
                    "rightValue": "Data Quality",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8352,
        3984
      ],
      "id": "2fe22081-5868-49e7-b70b-420dac10f807",
      "name": "Switch  Compliance Type"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  item.json.criteriaTemplate = \"Data Architecture\";\n  item.json.evaluationCriteria = {\n    \"technicalDepth\": {\n      \"weight\": 25,\n      \"description\": \"Covers data models, schemas, integration patterns\"\n    },\n    \"scalability\": {\n      \"weight\": 20,\n      \"description\": \"Addresses future growth and performance\"\n    },\n    \"security\": {\n      \"weight\": 20,\n      \"description\": \"Data encryption, access controls, compliance\"\n    },\n    \"documentation\": {\n      \"weight\": 15,\n      \"description\": \"Clear diagrams, specifications, standards\"\n    },\n    \"feasibility\": {\n      \"weight\": 20,\n      \"description\": \"Realistic implementation plan and timeline\"\n    }\n  };\n  item.json.passingScore = 70;\n  item.json.maxScore = 100;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8576,
        4032
      ],
      "id": "9b50cc1b-5ca0-40f5-8dd4-7900b1ddb378",
      "name": "Edit Fields : Data Architecture Criteria"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pdf-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pptx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "pptx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "docx-check",
                    "leftValue": "={{ $json.query.fileType }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8352,
        3616
      ],
      "id": "2ca234f0-3fbb-407c-a403-306b2dbb9ada",
      "name": "Switch by File Type"
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.pptx\" --outdir /tmp/n8n_processing"
      },
      "id": "b6316c73-0645-4c64-8272-3da19b6aaa97",
      "name": "Local Convert PPTX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        8608,
        4192
      ]
    },
    {
      "parameters": {
        "command": "=libreoffice --headless --convert-to pdf \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.docx\" --outdir /tmp/n8n_processing"
      },
      "id": "af680de6-c2ad-4973-84f2-9f4c576bc1c0",
      "name": "Local Convert DOCX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        8608,
        4384
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n_processing/{{ $binary.data.fileName }}",
        "options": {}
      },
      "id": "495dec0b-838c-4d57-ab49-9d888cb05059",
      "name": "Write Temp File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        8352,
        4176
      ]
    },
    {
      "parameters": {
        "command": "=pdftoppm -png -r 300 \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}input.pdf\" \"/tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}page\""
      },
      "id": "44b78b62-e4dd-4c30-a3b8-0a09553744a6",
      "name": "Local Extract Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        8864,
        4176
      ]
    },
    {
      "parameters": {
        "command": "=ls /tmp/n8n_processing/{{ $node[\"Set Binary Filename\"].json[\"filePrefix\"] }}page-*.png"
      },
      "id": "5c61bb09-f276-44ae-8f16-54f69bbb46bd",
      "name": "List Generated Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9088,
        4176
      ]
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all()[0].json.stdout.split('\\n').filter(f => f.trim() !== '');\nconst filePrefix = $('Set Binary Filename').all()[0].json.filePrefix;\n\nreturn files.map((filePath, index) => {\n  const fileName = filePath.split('/').pop();\n  return {\n    json: {\n      pageNumber: index + 1,\n      fileName: fileName,\n      filePath: filePath,\n      originalFile: $input.all()[0].json.originalFile,\n      filePrefix: filePrefix\n    }\n  };\n});"
      },
      "id": "3782f2be-fe97-498b-87ff-0abdea9611f4",
      "name": "Prepare Generated File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9312,
        4176
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "a1414ac0-483c-4f00-ae35-029640be169f",
      "name": "Read Page Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        9536,
        4176
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=curl -v --retry 3 --retry-delay 2 -X POST -H \"Content-Type: application/json\" -d \"{\\\"filePath\\\": \\\"{{ $('Prepare Generated File List').item.json.filePath }}\\\"}\" http://florence:5000/analyze"
      },
      "id": "3d6eb394-e16c-46b3-a44f-26f0f1650b60",
      "name": "Florence Vision Analysis",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9760,
        4384
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "fd37c5db-c6ee-43dc-94d3-2aadb35d2fff",
      "name": "Merge Vision & OCR",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        10064,
        4352
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=tesseract \"{{ $('Prepare Generated File List').item.json.filePath }}\" stdout -l eng+ara --oem 3 --psm 3"
      },
      "id": "1ea0e613-b428-4e25-b136-b0e1c079068e",
      "name": "OCR Processing",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        9760,
        4176
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst ocrItems = $('OCR Processing').all();\nconst visionItems = $('Florence Vision Analysis').all();\nconst metaItems = $('Prepare Generated File List').all();\n\nfor (let i = 0; i < items.length; i++) {\n  // Recover data from upstream nodes to avoid merge collisions and data loss\n  const ocrText = ocrItems[i]?.json?.stdout || '';\n  const visionText = visionItems[i]?.json?.stdout || '';\n  const meta = metaItems[i]?.json || {};\n  \n  const text = ocrText;\n  const wordCount = text.split(/\\s+/).length;\n  \n  // Basic complexity heuristic\n  const complexityScore = (wordCount < 50) ? 0.8 : 0.2;\n\n  results.push({\n    json: {\n      ...meta, // Restore pageNumber, filePrefix, etc.\n      extractedText: text,\n      visionRaw: visionText,\n      stdout: visionText, // Keep vision as stdout for Aggregate node compatibility\n      wordCount,\n      complexityScore,\n      isDiagram: complexityScore > 0.5\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "eaf0e20a-31b5-443a-b04f-7cec0d04559b",
      "name": "Parse OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10208,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst jsonString = JSON.stringify(items);\nconst buffer = Buffer.from(jsonString, 'utf8');\n\nconst filePrefix = items[0].json.filePrefix || 'unknown_';\nconst fileName = `${filePrefix}merge_input.json`;\nconst fullPath = `/tmp/n8n_processing/${fileName}`;\n\nreturn [{\n  json: {\n    filePrefix,\n    fileName,\n    fullPath\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "prepare-merge-input",
      "name": "Prepare Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10480,
        4112
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.fullPath }}",
        "options": {}
      },
      "id": "write-merge-input",
      "name": "Write Merge Input",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        10680,
        4112
      ]
    },
    {
      "parameters": {
        "command": "=python3 /scripts/merge_hybrid.py \"{{ $json.fullPath }}\""
      },
      "id": "execute-merge-script",
      "name": "Execute Merge Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        10880,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\ntry {\n  const result = JSON.parse(stdout);\n  if (result.error) {\n    throw new Error(result.error);\n  }\n  return { json: result };\n} catch (e) {\n  throw new Error(`Failed to parse Python script output: ${e.message}. Stdout: ${stdout}`);\n}"
      },
      "id": "parse-merge-output",
      "name": "Parse Merge Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11080,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst criteria = item.evaluationCriteria || {};\nconst content = item.fullDocument;\n\nconst prompt = `You are a compliance officer. Evaluate this document.\\n\\nDOCUMENT:\\n${content.substring(0, 15000)}\\n\\nCRITERIA:\\n${JSON.stringify(criteria, null, 2)}\\n\\nProvide JSON output: { \"overallScore\": number, \"criteriaScores\": { key: { score, evidence, gaps } }, \"summary\": string, \"recommendations\": [] }.`;\n\nconst requestBody = {\n  model: \"llama3.2\",\n  prompt: prompt,\n  format: \"json\",\n  stream: false\n};\n\nconst jsonString = JSON.stringify(requestBody);\nconst buffer = Buffer.from(jsonString, 'utf8');\nconst filePrefix = item.filePrefix || 'unknown_';\nconst fileName = `${filePrefix}ollama_req.json`;\nconst fullPath = `/tmp/n8n_processing/${fileName}`;\n\nreturn [{\n  json: {\n    ...item,\n    ollamaRequestPath: fullPath,\n    fileName: fileName\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "11111111-ai01-node-build-prompt",
      "name": "Prepare Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11280,
        4112
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.ollamaRequestPath }}",
        "options": {}
      },
      "id": "write-ollama-request",
      "name": "Write Ollama Request",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        11480,
        4112
      ]
    },
    {
      "parameters": {
        "command": "=curl -v --max-time 600 -X POST http://ollama:11434/api/generate -d @{{ $json.ollamaRequestPath }}"
      },
      "id": "22222222-ai02-node-call-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11680,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const stdout = $input.first().json.stdout;\n  const response = JSON.parse(stdout);\n  let content = response.response;\n  // Strip markdown code blocks if present\n  content = content.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n  const evaluation = JSON.parse(content);\n  return { json: { evaluation, ...$('Parse Merge Output').first().json } };\n} catch(e) {\n  return { json: { error: e.message, raw: $input.first().json } };\n}"
      },
      "id": "33333333-ai03-node-parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11140,
        4112
      ]
    },
    {
      "parameters": {
        "values": {
            "string": [
                { "name": "result", "value": "={{ $json }}" }
            ]
        },
        "options": {}
      },
      "id": "44444444-ai04-node-format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        11360,
        4112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
         "responseBody": "={{ $json.result }}",
         "options": {}
      },
      "id": "55555555-ai05-node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        11580,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  item.json.criteriaTemplate = \"Data Strategy\";\n  item.json.evaluationCriteria = {\n    \"strategicAlignment\": {\n      \"weight\": 25,\n      \"description\": \"Alignment with overall business goals\"\n    },\n    \"clearRoadmap\": {\n      \"weight\": 25,\n      \"description\": \"Defined timeline and milestones\"\n    },\n    \"valueProposition\": {\n      \"weight\": 25,\n      \"description\": \"Business value and ROI definition\"\n    },\n    \"riskAssessment\": {\n      \"weight\": 25,\n      \"description\": \"Analysis of potential risks\"\n    }\n  };\n  item.json.passingScore = 70;\n  item.json.maxScore = 100;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8576,
        3800
      ],
      "id": "strategy-criteria-node-id",
      "name": "Edit Fields : Data Strategy Criteria"
    },
    {
      "parameters": {
        "command": "=if [ -n \"{{ $json.result.filePrefix }}\" ]; then rm -f /tmp/n8n_processing/{{ $json.result.filePrefix }}*; fi"
      },
      "id": "8a114950-28b3-46d4-a02a-6ae23466a125",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11800,
        4112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.data) {\n    const fileType = item.json.query?.fileType || 'bin';\n    const runId = Math.random().toString(36).substring(7);\n    const filePrefix = `${runId}_`;\n    const fileName = `${filePrefix}input.${fileType}`;\n    item.binary.data.fileName = fileName;\n    item.json.filePrefix = filePrefix;\n  }\n}\nreturn items;"
      },
      "id": "0f768d51-db01-4319-8a73-d654452e27ca",
      "name": "Set Binary Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8160,
        4176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input (Query+File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input (Query+File)": {
      "main": [
        [
          {
            "node": "Validation Passed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed": {
      "main": [
        [
          {
            "node": "Switch  Compliance Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch  Compliance Type": {
      "main": [
        [
          {
            "node": "Edit Fields : Data Strategy Criteria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields : Data Architecture Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields : Data Strategy Criteria": {
      "main": [
        [
          {
            "node": "Set Binary Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields : Data Architecture Criteria": {
      "main": [
        [
          {
            "node": "Set Binary Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by File Type": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert PPTX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Local Convert DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Temp File": {
      "main": [
        [
          {
            "node": "Switch by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert PPTX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Convert DOCX": {
      "main": [
        [
          {
            "node": "Local Extract Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Extract Images": {
      "main": [
        [
          {
            "node": "List Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Generated Images": {
      "main": [
        [
          {
            "node": "Prepare Generated File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generated File List": {
      "main": [
        [
          {
            "node": "Read Page Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Page Image": {
      "main": [
        [
          {
            "node": "OCR Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Florence Vision Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Processing": {
      "main": [
        [
          {
            "node": "Merge Vision & OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Florence Vision Analysis": {
      "main": [
        [
          {
            "node": "Merge Vision & OCR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Vision & OCR": {
      "main": [
        [
          {
            "node": "Parse OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR": {
      "main": [
        [
          {
            "node": "Prepare Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Merge Input": {
      "main": [
        [
          {
            "node": "Write Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Merge Input": {
      "main": [
        [
          {
            "node": "Execute Merge Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Merge Script": {
      "main": [
        [
          {
            "node": "Parse Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Merge Output": {
      "main": [
        [
          {
            "node": "Prepare Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama Request": {
      "main": [
        [
          {
            "node": "Write Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Ollama Request": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Binary Filename": {
      "main": [
        [
          {
            "node": "Write Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "83d3827f-4e9a-4395-bbd2-a300efc981f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20ca36cf4b5fc64f7471c1e6a838151ab8163351fb5ba6c854a469e23e1d5d80"
  },
  "id": "uEjNH2OxAw_U3-G8MiYJp",
  "tags": []
}